﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = '404'
	-seoSet = false
	-var error = 'error'
	-bodyAttr.class = error + 'Page'

block wMenu

block wContainer
	div(class=error + 'Wrapper')
		div.errorContent
			div(class=error + 'Holder')
				div(class=error + 'Content')
					div(class=error + 'Header') 404
					.wTxt
						h3 Страница не найдена
						p К сожалению, страница, которую Вы запросили, не была найдена. #[br/] Вы можете перейти на #[a(href="index.html") главную страницу] или ознакомиться с нашим #[a(href="#") каталогом товаров].