﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'catalog'
	-bodyAttr.class = 'indexPage'
	-seoSet = false
	-mainMenuPath = ['Главная']
	
block wMenu

block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		h1.tit Каталог продукции
		.catalog
			.catalog_column
				.catalog_icon
					.icon-cookie
				.catalog_main
					.catalog_title
						a(href='#') Встроенная техника
					ul
						li
							a(href='#') Духовые шкафы
						li
							a(href='#') Газовые плиты
						li
							a(href='#') Электрические плиты
						li
							a(href='#') Многодверные
						li
							a(href='#') Холодильники для вина
						li
							a(href='#') Встраиваемые холодильники
						li
							a(href='#') Холодильные шкафы
			.catalog_column
				.catalog_icon
					.icon-freezier
				.catalog_main
					.catalog_title
						a(href='#') Холодильники
					ul(data-max='3',data-text='раскрыть полный список').js-max-rows
						li
							a(href='#') Однокамерные
						li
							a(href='#') Двухкамерные
						li
							a(href='#') Side-by-side
						li
							a(href='#') Многодверные
						li
							a(href='#') Холодильники для вина
						li
							a(href='#') Встраиваемые холодильники
						li
							a(href='#') Холодильные шкафы
			.catalog_column
				.catalog_icon
					.icon-iron
				.catalog_main
					.catalog_title
						a(href='#') Утюги
					ul(data-max='3',data-text='раскрыть полный список').js-max-rows
						li
							a(href='#') С паром
						li
							a(href='#') Гладильная система
						li
							a(href='#') Парогенератор
						li
							a(href='#') Многодверные
						li
							a(href='#') Холодильники для вина
						li
							a(href='#') Встраиваемые холодильники
			.catalog_column
				.catalog_icon
					.icon-laptop
				.catalog_main
					.catalog_title
						a(href='#') Ноутбуки
					ul(data-max='3',data-text='раскрыть полный список').js-max-rows
						li
							a(href='#') Неттопы
						li
							a(href='#') Моноблоки
						li
							a(href='#') Аксессуары для ноутбуков
						li
							a(href='#') Многодверные
			.catalog_column
				.catalog_icon
					.icon-wash
				.catalog_main
					.catalog_title
						a(href='#') Встроенная техника
					ul
						li
							a(href='#') Духовые шкафы
						li
							a(href='#') Газовые плиты
						li
							a(href='#') Электрические плиты
			.catalog_column
				.catalog_icon
					.icon-conditioner
				.catalog_main
					.catalog_title
						a(href='#') Холодильники
					ul(data-max='3',data-text='раскрыть полный список').js-max-rows
						li
							a(href='#') Однокамерные
						li
							a(href='#') Двухкамерные
						li
							a(href='#') Side-by-side
						li
							a(href='#') Многодверные
						li
							a(href='#') Холодильники для вина
						li
							a(href='#') Встраиваемые холодильники
						li
							a(href='#') Холодильные шкафы
			.catalog_column
				.catalog_icon
					.icon-boiler
				.catalog_main
					.catalog_title
						a(href='#') Утюги
					ul(data-max='3',data-text='раскрыть полный список').js-max-rows
						li
							a(href='#') С паром
						li
							a(href='#') Гладильная система
						li
							a(href='#') Парогенератор
						li
							a(href='#') Многодверные
						li
							a(href='#') Холодильники для вина
						li
							a(href='#') Встраиваемые холодильники
			.catalog_column
				.catalog_icon
					.icon-kettle
				.catalog_main
					.catalog_title
						a(href='#') Ноутбуки
					ul(data-max='3',data-text='раскрыть полный список').js-max-rows
						li
							a(href='#') Неттопы
						li
							a(href='#') Моноблоки
						li
							a(href='#') Аксессуары для ноутбуков
						li
							a(href='#') Многодверные
			.catalog_column
				.catalog_icon
					.icon-multicook
				.catalog_main
					.catalog_title
						a(href='#') Встроенная техника
					ul
						li
							a(href='#') Духовые шкафы
						li
							a(href='#') Газовые плиты
						li
							a(href='#') Электрические плиты
			.catalog_column
				.catalog_icon
					.icon-tv
				.catalog_main
					.catalog_title
						a(href='#') Холодильники
					ul(data-max='3',data-text='раскрыть полный список').js-max-rows
						li
							a(href='#') Однокамерные
						li
							a(href='#') Двухкамерные
						li
							a(href='#') Side-by-side
						li
							a(href='#') Многодверные
						li
							a(href='#') Холодильники для вина
						li
							a(href='#') Встраиваемые холодильники
						li
							a(href='#') Холодильные шкафы
			.catalog_column
				.catalog_icon
					.icon-phone
				.catalog_main
					.catalog_title
						a(href='#') Утюги
					ul(data-max='3',data-text='раскрыть полный список').js-max-rows
						li
							a(href='#') С паром
						li
							a(href='#') Гладильная система
						li
							a(href='#') Парогенератор
						li
							a(href='#') Многодверные
						li
							a(href='#') Холодильники для вина
						li
							a(href='#') Встраиваемые холодильники
			.catalog_column
				.catalog_icon
					.icon-camera
				.catalog_main
					.catalog_title
						a(href='#') Ноутбуки
					ul(data-max='3',data-text='раскрыть полный список').js-max-rows
						li
							a(href='#') Неттопы
						li
							a(href='#') Моноблоки
						li
							a(href='#') Аксессуары для ноутбуков
						li
							a(href='#') Многодверные