﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'lk'
	-bodyAttr.class = 'indexPage'
	-seoSet = false
	-mainMenuPath = ['Главная']
	
block wMenu

block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		h1.tit Личный кабинет
		.lk-block
			.item-ajax-tabs
				.item-ajax-tabs_links
					a(href='#') Личные данные
					a(href='#').is-active Список желаний
					a(href='#') Сравнение товаров
					a(href='#') Мои заказы
			.lk-block_inside
				.favorites-block
					.favorites-block_title Сравниваем Стиральные машины (3)
						.call-popupLink.js-clear-compare очистить все
				.compareSection
					.wSize
						.compareWrapp
							.compareNoSupport
								.wTxt
									p Сравнение товаров доступно только на Компьютерах
							// .compareNoSupport
							.compareCleared
									p Ваш список сравнения удален
							// .compareCleared
							.compareHold
								table.compareTable
									tr
										td
											.cellHold  
												ul.add
													li Добавить модель
													li.toggleMisMath Только отличия
													li
														a(href='javascript:window.print()') Печать страницы
												.friends
													span Спросить у друзей
													| <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
													| <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
													| <a class="a2a_button_vk"></a>
													| <a class="a2a_button_odnoklassniki"></a>
													| <a class="a2a_button_facebook"></a>
													| <a class="a2a_button_twitter"></a>
													| <a class="a2a_button_google_plus"></a>
													| </div>
										td
											include ../Widgets/itemList
										td
											include ../Widgets/itemList
										td
											include ../Widgets/itemList
										td
											include ../Widgets/itemList
										td
											include ../Widgets/itemList
										td
											include ../Widgets/itemList
									tr
										td
											.cellHold
												span.ellipsis(title='Производитель') Производитель
										td
											.cellHold Goodyear
										td
											.cellHold Achilles
										td
											.cellHold Hankook
										td
											.cellHold Goodyear
										td
											.cellHold Goodyear
										td
											.cellHold Hankook
									tr
										td
											.cellHold
												span.ellipsis(title='Сезонность') Сезонность
										td
											.cellHold Зимняя
										td
											.cellHold Зимняя
										td
											.cellHold Летняя
										td
											.cellHold Летняя
										td
											.cellHold Зимняя
										td
											.cellHold Зимняя
									tr
										td
											.cellHold
												span.ellipsis(title='Ширина') Ширина
										td
											.cellHold 185
										td
											.cellHold 185
										td
											.cellHold 185
										td
											.cellHold 195
										td
											.cellHold 195
										td
											.cellHold 195
									tr
										td
											.cellHold
												span.ellipsis(title='Профиль') Профиль
										td
											.cellHold 65
										td
											.cellHold 65
										td
											.cellHold 65
										td
											.cellHold 65
										td
											.cellHold 65
										td
											.cellHold 65
									tr
										td
											.cellHold
												span.ellipsis(title='Диаметр') Диаметр
										td
											.cellHold R15
										td
											.cellHold R16
										td
											.cellHold R16
										td
											.cellHold R16
										td
											.cellHold R16
										td
											.cellHold R15
									tr
										td
											.cellHold
												span.ellipsis(title='Индекс нагрузки') Индекс нагрузки
										td
											.cellHold 88
										td
											.cellHold 88
										td
											.cellHold 91
										td
											.cellHold 91
										td
											.cellHold 91
										td
											.cellHold 88
									tr
										td
											.cellHold
												span.ellipsis(title='Индекс скорости') Индекс скорости
										td
											.cellHold Т
										td
											.cellHold Т
										td
											.cellHold Т
										td
											.cellHold H
										td
											.cellHold H
										td
											.cellHold H
									tr
										td
											.cellHold
												span.ellipsis(title='Шипы') Шипы
										td
											.cellHold нешип
										td
											.cellHold нешип
										td
											.cellHold нешип
										td
											.cellHold нешип
										td
											.cellHold нешип
										td
											.cellHold нешип
									tr
										td
											.cellHold
												span.ellipsis(title='Регион производства') Регион производства
										td
											.cellHold Европейский союз
										td
											.cellHold Европейский союз
										td
											.cellHold Европейский союз
										td
											.cellHold Остальной мир
										td
											.cellHold Остальной мир
										td
											.cellHold Остальной мир
									tr
										td
											.cellHold
												span.ellipsis(title='Экономия топлива') Экономия топлива
										td
											.cellHold ---
										td
											.cellHold ---
										td
											.cellHold C
										td
											.cellHold C
										td
											.cellHold C
										td
											.cellHold B
									tr
										td
											.cellHold
												span.ellipsis(title='Сцепление на мокрой дороге Сцепление на мокрой дороге') Сцепление на мокрой дороге мокрой дороге
										td
											.cellHold ---
										td
											.cellHold A
										td
											.cellHold B
										td
											.cellHold С
										td
											.cellHold С
										td
											.cellHold С
									tr
										td
											.cellHold
												span.ellipsis(title='Уровень шума') Уровень шума
										td
											.cellHold 68 db
										td
											.cellHold 68 db
										td
											.cellHold ---
										td
											.cellHold 68 db
										td
											.cellHold 68 db
										td
											.cellHold ---
							// .compareHold
						// .compareWrapp
					// .wSize
				// .compareSection