﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'contact'
	-bodyAttr.class = 'indexPage'
	-seoSet = false
	-mainMenuPath = ['Главная']
	
block wMenu

block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		h1.tit Контакты
		.wTxt
			p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
			p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
			p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
	.contact-block
		.wSize
			.contact-block_info
				.contact-block_col
					.contact-block_title Ждем Вас:
					.contact-block_text
						p 03125, г. Николаев
						p ул.Попольная, 112 Б, оф.142
				.contact-block_col
					.contact-block_title Звоните:
					.phones-with-link
						.vodafone
							b (099) 123-45-67
						.city
							b (0512) 123-45-67
						.life
							b (099) 123-45-67
						.popup-link.w_tar
							span.call-popupLink.mfiA(data-url="hidden/callback.php") Закажите обратный звонок
				.contact-block_col
					.contact-block_title График работы:
					.contact-block_text
						p #[b Пн-Пт] – 9:00-17:00
						p #[b Сб-Вс]  – выходной
				.contact-block_col
					.contact-block_title Пишите:
					.contact-block_text
						p
							a(href='mailto:e-konomia@gmail.com').mail-icon
								span.svgHolder
									svg: use(xlink:href="#mail")/
								span e-konomia@gmail.com
		.map
			#map
			.wSize
				.map_form.wForm.wFormDef.wFormPreloader(data-form="true", data-ajax="wForm-demo-submit.php")
					.map_form_title Связаться с нами:
					.wFormRow
						-elementName = 'demo_word_input'
						-elementLabel = 'Ваше имя *'
						-
							var attrs = {
							required: true,
							type: 'text',
							name: elementName,
							id: elementName,
							placeholder: 'Ваше имя*',
							'data-rule-word': 'true',
							'data-rule-minlength':2
							}
						.wFormInput
							input.wInput&attributes(attrs)
							.inpInfo= elementLabel

					.wFormRow
							-elementName = 'demo_callback'
							-elementLabel = 'Email *'
							-
								var attrs = {
								required: true,
								type: 'email',
								name: elementName,
								id: elementName,
								placeholder: 'Ваш email*',
								'data-rule-email': 'true'
								}
						.wFormInput
							input.wInput&attributes(attrs)
							.inpInfo(for=elementName)= elementLabel
					.wFormRow
						-elementName = 'demo_rangelength_textarea'
						-elementLabel = 'Review:'
						-
							var attrs = {
							required: true,
							name: elementName,
							id: elementName,
							placeholder: 'Сообщение*',
							'data-rule-minlength':10
							}
						.wFormWrapper
							.wFormInput
								textarea.wTextarea&attributes(attrs)
								.inpInfo= elementLabel

						.wFormRow.w_last
							button.wSubmit.gradient-button Отправить