﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'group'
	-bodyAttr.class = 'groupPage'
	-seoSet = true
	-mainMenuPath = ['Главная']

block wMenu
block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		.wLeft
			.filter-block.js-filters
				.filter-block_title Фильтр товаров
				.filter-block_box
					.filter-block_box_title Цена
					.filter-block_box_swipe
						span от
						input(type='text').from.js-from
						span до
						input(type='text').to.js-to
					.filter-block_box_range
						input(class='range',data-min='10',data-max='1000',data-step='10')
				.filter-block_box
					.filter-block_box_title Производитель
					.filter-block_box_wrap
						- for(i=0;i<6;i++){
						.filter-block_box_checks
							label.checkBlock
								input(type='checkbox')
								ins
								span AEG #[i (1)]
						- }
				.filter-block_box
					.filter-block_box_title Тип
					.filter-block_box_wrap(data-max='4').js-max-filter
						- for(i=0;i<6;i++){
						.filter-block_box_checks
							label.checkBlock
								input(type='checkbox')
								ins
								span Узкие 32-47 см #[i (16)]
						- }
				.filter-block_box
					.filter-block_box_title Цвет
					.filter-block_box_wrap(data-max='4').js-max-filter
						- for(i=0;i<6;i++){
						.filter-block_box_checks
							label.checkBlock
								input(type='checkbox')
								ins
								span серебристый #[i (9)]
						- }
				.filter-block_buttons
					.filter-block_apply
						.gradient-button Показать
					.filter-block_reset.js-reset-filter
						span Сбросить фильтр
		.wMiddle
			h1.tit Стиральные машины
			.group-block
				.group-block_sv
					.group-block_sort
						span Сортировать
						.group-block_select
							select.select2
								option цена от большей к меньшей
					.group-block_view
						span На странице
						.group-block_select
							select.select2
								option 24
								option 48
								option 72

				.list-item_cols-4
					- for (i = 0; i<16; i++) {
					include ../Widgets/itemList
					- }
			include ../Widgets/pagination
	include ../Widgets/lastView
	include ../Widgets/advantages
	#cloneSeo