﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'index'
	-bodyAttr.class = 'indexPage'
	-seoSet = true
	-mainMenuPath = ['Главная']
	
block wMenu

block wContainer
	.main-slider
		.main-slider_wrapper
			.main-slider_item(style='background-image:url(images/slide1.jpg);')
				.wSize
					.main-slider_item_desc
						.main-slider_item_desc_logo
							span.title Amica
						p(style='color:green') Холодильник супер-пупер
						a(href='#',style='color:green').transparent-button Подробнее
					.main-slider_item_promo
						.main-slider_item_promo_wrap
							.big Акция!
							.small Действующие акции на текущий месяц
					.main-slider_item_try
			.main-slider_item(style='background-image:url(images/slide2.jpg);')
				.wSize
					.main-slider_item_desc
						.main-slider_item_desc_logo
							span.title Русский текст
						p(style='color:red') Холодильник супер-пупер Холодильник супер-пупер
						a(href='#',style='color:blue').transparent-button Подробнее
					.main-slider_item_promo
						.main-slider_item_promo_wrap
							.big Акция!
							.small акции на текущий месяц
					.main-slider_item_try
			.main-slider_item(style='background-image:url(images/slide3.jpg);')
				.wSize
					.main-slider_item_desc
						.main-slider_item_desc_logo
							span.title(style='color:blue') Amica
						p Холодильник супер-пупер Холодильник супер-пупер Холодильник супер-пупер
						a(href='#',style='color:red').transparent-button Подробнее
					.main-slider_item_promo
						.main-slider_item_promo_wrap
							.big Акция!
							.small Действующие акции
					.main-slider_item_try
		.pagination
	include ../Widgets/ajax-tabs
	include ../Widgets/lastView
	.news-block
		.wSize
			.blocks-title Новости, статьи и обзоры
			.news-block_items.cols-4
				- for(i=0;i<8;i++){
					include ../Widgets/newsBlock
				- }
			.see-all
				a(href='#') Смотреть все новости

	include ../Widgets/advantages
	#cloneSeo