﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'item'
	-bodyAttr.class = 'indexPage'
	-seoSet = true
	-mainMenuPath = ['Главная']
	
block wMenu

block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		h1.tit Стиральная машина полногабаритная SAMSUNG WW70J5217IW/UA
		.item-block
			.item-block_cols-3
				.item-block_col
					.item-block_images
						.item-block_image
							.item-block_wrapper
								img(src='images/1772867_images_1662115389.jpg')
							.full-icon
								span.svgHolder
									svg: use(xlink:href="#zoom")/
						.item-block_slider
							#backs
								span.svgHolder
									svg: use(xlink:href="#arrow_slide")/
							.item-block_sliderWrap
								.item-block_slide(class='is-active')
									a(href='images/1772867_images_1662115389.jpg',class='fresco',data-fresco-group="unique_name")
										img(src='images/1772867_images_1662115389.jpg')
								.item-block_slide
									a(href='images/samsung-wf1802xeyylp_images_1678765197.jpg',class='fresco',data-fresco-group="unique_name")
										img(src='images/samsung-wf1802xeyylp_images_1678765197.jpg')
								.item-block_slide
									a(href='images/wash-item.jpg',class='fresco',data-fresco-group="unique_name")
										img(src='images/wash-item.jpg')
								.item-block_slide
									a(href='images/stiralnaya_mashina_samsung_wf600w0bcwq.jpg',class='fresco',data-fresco-group="unique_name")
										img(src='images/stiralnaya_mashina_samsung_wf600w0bcwq.jpg')
								.item-block_slide
									a(href='images/stiralnaya_mashina_samsung_wf602b0bcwq.jpg',class='fresco',data-fresco-group="unique_name")
										img(src='images/stiralnaya_mashina_samsung_wf602b0bcwq.jpg')
								.item-block_slide
									a(href='http://www.youtube.com/embed/6_PLnInsh7E',class='fresco youtube',data-fresco-group="unique_name")
										img(src='http://img.youtube.com/vi/6_PLnInsh7E/default.jpg')
							#nexts
								span.svgHolder
									svg: use(xlink:href="#arrow_slide")/
					.socials
						| <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
						| <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
						| <a class="a2a_button_vk"></a>
						| <a class="a2a_button_odnoklassniki"></a>
						| <a class="a2a_button_facebook"></a>
						| <a class="a2a_button_twitter"></a>
						| <a class="a2a_button_google_plus"></a>
						| </div>
				.item-block_col
					.price-block-wrap
						.price-block
							.price-block_price <!--добавить класс gray если товара нет-->
								span 109999 грн
							.price-block_status.notisset
								span Нет в наличии
								.gradient-button.gray.mfiA(data-url="hidden/notisset.php",data-param="&id=123123")
									span Сообщите, когда появиться

					.line-cf.w_clearfix
						.line-cf_compare.js-addItem(data-src="compare", data-url="lk-compare.html")
							.svgHolder
								svg: use(xlink:href="#compare")/
							span В сравнения
						.line-cf_favorite.js-addItem(data-src="favorite",data-url="lk-favorites.html")
							.svgHolder
								svg: use(xlink:href="#heart")/
							span В желания
					.characters
						.characters_title Краткие характеристики
						ul
							li
								span Расположение:&nbsp;
								span отдельностоящая (соло)
							li
								span Тип:&nbsp;
								span полногабаритная
							li
								span Количество белья при стирке:&nbsp;
								span 7 кг
							li
								span Скорость отжима:&nbsp;
								span 1200 об/мин.
							li
								span Класс энергопотребления:&nbsp;
								span А+++
							li
								span Расположение:&nbsp;
								span отдельностоящая (соло)
							li
								span Расположение:&nbsp;
								span отдельностоящая (соло)
							li
								span Расположение:&nbsp;
								span отдельностоящая (соло)
				.item-block_col
					.info-block
						.info-block_delivery
							.info-block_title.delivery.mfiA(data-url="hidden/text-popup.php")
								b Варианты доставки
								span.question
							.info-block_type
								.info-block_type_title Самовывоз
								.info-block_type_table
									.info-block_type_row
										span Новая почта
										b 35 грн.
									.info-block_type_row
										span Пункт выдачи
										b бесплатно
								.info-block_type_title Самовывоз
									.info-block_type_table
										.info-block_type_row
											span Новая почта
											b 35 грн.
										.info-block_type_row
											span Пункт выдачи
											b бесплатно
						.info-block_other
							.info-block_title.pay.mfiA(data-url="hidden/text-popup.php")
								b Оплата
								span.question
							.info-block_text Наличные, безналичные, оплата частями
							.info-block_title.return.mfiA(data-url="hidden/text-popup.php")
								b Простой возврат
								span.question
							.info-block_text 30 дней на возврат товара без лишних вопросов
							.info-block_title.warranty.mfiA(data-url="hidden/text-popup.php")
								b Гарантия
								span.question
							.info-block_text 12 месяцев официальной гарантии от  производителя, послегарантийное обслуживание
			.item-block_allinfo
				.item-block_allinfo_left
					.item-block_allinfo_desc.wTxt
						.item-block_title Описание SAMSUNG WW70J5217IW/UA
						.overflow
							p Стиральная машина BEKO HTV 8633 XS0 сочетает в себе функции стирки и сушки. Данная модель может справиться за один цикл с 8 кг белья, а если вы захотите сразу же высушить его, то максимальная загрузка составит 7 кг. Высокая производительность также проявляется в значительной скорости вращения центрифуги - до 1200 оборотов в минуту.
							p Функция "Быстрая стирка" позволит настроить программу так, чтобы Ваше белье было готово в точности тогда, когда Вам нужно. BEKO HTV 8633 XS0 обеспечивает быструю и качественную стирку, затрачивая умеренное количество воды и энергии. Наличие большого дисплея и простого управления позволяет удобно выбирать необходимые настройки.
							p Стиральная машина BEKO HTV 8633 XS0 сочетает в себе функции стирки и сушки. Данная модель может справиться за один цикл с 8 кг белья, а если вы захотите сразу же высушить его, то максимальная загрузка составит 7 кг. Высокая производительность также проявляется в значительной скорости вращения центрифуги - до 1200 оборотов в минуту.
							p Функция "Быстрая стирка" позволит настроить программу так, чтобы Ваше белье было готово в точности тогда, когда Вам нужно. BEKO HTV 8633 XS0 обеспечивает быструю и качественную стирку, затрачивая умеренное количество воды и энергии. Наличие большого дисплея и простого управления позволяет удобно выбирать необходимые настройки.
							p Стиральная машина BEKO HTV 8633 XS0 сочетает в себе функции стирки и сушки. Данная модель может справиться за один цикл с 8 кг белья, а если вы захотите сразу же высушить его, то максимальная загрузка составит 7 кг. Высокая производительность также проявляется в значительной скорости вращения центрифуги - до 1200 оборотов в минуту.
							p Функция "Быстрая стирка" позволит настроить программу так, чтобы Ваше белье было готово в точности тогда, когда Вам нужно. BEKO HTV 8633 XS0 обеспечивает быструю и качественную стирку, затрачивая умеренное количество воды и энергии. Наличие большого дисплея и простого управления позволяет удобно выбирать необходимые настройки.
						.item-block_allinfo_desc_more.js-show-item-text
							.svgHolder
								svg: use(xlink:href="#arrow_slide")/
							span еще
					.item-block_allinfo_characters
						.item-block_title Технические характеристики SAMSUNG WW70J5217IW/UA
						.item-ajax-tabs
							.item-ajax-tabs_links.js-ajax-tabs
								p
									span.is-active(data-block='main') Основные
								p
									span(data-block='all') Все характеристики
						.js-ajax-bloks
							.item-block_allinfo_characters_table(data-src='main')
								table
									tr
										td Способ установки
										td отдельностоящая (соло)
									tr
										td Потребление электроэнергии
										td отдельностоящая (соло)
									tr
										td Способ установки
										td 1,03 кВт/ч
									tr
										td Способ установки
										td отдельностоящая (соло)
									tr
										td Способ установки
										td отдельностоящая (соло)
							.item-block_allinfo_characters_table(data-src='all')
								table
									tr
										td Способ установки
										td отдельностоящая (соло)
									tr
										td Потребление электроэнергии
										td отдельностоящая (соло)
									tr
										td Способ установки
										td 1,03 кВт/ч
									tr
										td Способ установки
										td отдельностоящая (соло)
									tr
										td Способ установки
										td отдельностоящая (соло)
									tr
										td Способ установки
										td отдельностоящая (соло)
									tr
										td Потребление электроэнергии
										td отдельностоящая (соло)
									tr
										td Способ установки
										td 1,03 кВт/ч
									tr
										td Способ установки
										td отдельностоящая (соло)
									tr
										td Способ установки
										td отдельностоящая (соло)
				.item-block_allinfo_right
					.item-block_allinfo_rating
						.item-block_title.w_clearfix
							span Отзывы покупателей
							.gradient-button.w_flr.mfiA(data-url="hidden/rating-popup.php") Оставить свой отзыв
						.responses
							- for(i = 0; i<3;i++) {
								include ../Widgets/one_rasponse
							- }
						a(href='#').see-all-response.js-full-response(data-count='7',data-offset='3') Смотреть все отзывы
						include ../Widgets/pagination-response
	include ../Widgets/lastView
	include ../Widgets/advantages
	#cloneSeo