﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'lk'
	-bodyAttr.class = 'indexPage'
	-seoSet = false
	-mainMenuPath = ['Главная']
	
block wMenu

block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		h1.tit Личный кабинет
		.lk-block
			.item-ajax-tabs
				.item-ajax-tabs_links
					a(href='#') Личные данные
					a(href='#').is-active Список желаний
					a(href='#') Сравнение товаров
					a(href='#') Мои заказы
			.lk-block_inside
				.favorites-block
					.favorites-block_title Сравнение товаров
					.compareNoSupport2
						.wTxt
							p Нет товаров для сравнения
					.favorites-block_compareItems
						- for (i=0;i<3;i++){
							include ../Widgets/itemList-small
						- }
					.favorites-block_compareLink
						a(href='#').gradient-button Сравнить эти товары