﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'lk'
	-bodyAttr.class = 'indexPage'
	-seoSet = false
	-mainMenuPath = ['Главная']
	
block wMenu

block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		h1.tit Личный кабинет
		.lk-block
			.item-ajax-tabs
				.item-ajax-tabs_links
					a(href='#') Личные данные
					a(href='#').is-active Список желаний
					a(href='#') Сравнение товаров
					a(href='#') Мои заказы
			.lk-block_inside
				.favorites-block
					.favorites-block_cols-2
						.favorites-block_shortList.w_clearfix
							.favorites-block_title Мой список желаний
							.favorites-block_cart
								.favorites-block_cart_count 2 товара на сумму 799 грн
								.favorites-block_cart_button
									.list-item_buy.js-add-to-cart.mfiA(data-id="123",data-name="name",data-price="322",data-url="hidden/cart_popup.php")
										span.svgHolder
											svg: use(xlink:href="#item_basket")/
										span.name Купить
								.favorites-block_remove
									.call-popupLink удалить
						.favorites-block_socialSort
							.socials.w_clearfix
								| <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
								| <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
								| <a class="a2a_button_vk"></a>
								| <a class="a2a_button_odnoklassniki"></a>
								| <a class="a2a_button_facebook"></a>
								| <a class="a2a_button_twitter"></a>
								| <a class="a2a_button_google_plus"></a>
								| </div>
							.group-block_sort
								span Сортировать
								.group-block_select.bordered-select
									select.select2
										option цена от большей к меньшей
					.favorites-block_items
						.list-item_cols-4
							- for (i = 0; i<4; i++) {
							include ../Widgets/itemList
							- }