﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'lk'
	-bodyAttr.class = 'indexPage'
	-seoSet = false
	-mainMenuPath = ['Главная']
	
block wMenu

block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		h1.tit Личный кабинет
		.lk-block
			.item-ajax-tabs
				.item-ajax-tabs_links
					a(href='#').is-active Личные данные
					a(href='#') Список желаний
					a(href='#') Сравнение товаров
					a(href='#') Мои заказы
			.lk-block_inside
				.lk-block_cols-3
					.lk-block_myinfo
						.lk-block_title Мои данные
						.wForm.wFormDef.wFormPreloader(data-form="true", data-ajax="wForm-demo-submit.php")
							.wFormRow
								-elementName = 'demo_word_input'
								-elementLabel = 'Имя и фамилия:*'
								-
									var attrs = {
									required: true,
									type: 'text',
									name: elementName,
									id: elementName,
									placeholder: '',
									'data-rule-word': 'true',
									'data-rule-minlength':2,
									value:'Федченко Ирина'
									}
								label.wLabel(for=elementName)= elementLabel
								.wFormInput
									input.wInput&attributes(attrs)
									.inpInfo= elementLabel

							.wFormRow
								-elementName = 'demo_callback'
								-elementLabel = 'Мобильный телефон:*'
								-
									var attrs = {
									required: true,
									type: 'tel',
									name: elementName,
									id: elementName,
									placeholder: '',
									'data-rule-phoneUA': 'true',
									class:'phone-mask',
									value:'0501233245'
									}
							label.wLabel(for=elementName)= elementLabel
							.wFormInput
								input.wInput&attributes(attrs)
								.inpInfo(for=elementName)= elementLabel

							.wFormRow
								-elementName = 'demo_email_input'
								-elementLabel = 'Электронная почта:*'
								-
									var attrs = {
									required: true,
									type: 'email',
									name: elementName,
									id: elementName,
									placeholder: '',
									'data-rule-email': 'true',
									value:'ponachka04@gmail.com'
									}
								label.wLabel(for=elementName)= elementLabel
								.wFormInput
									input.wInput&attributes(attrs)
									.inpInfo= elementLabel
							.wFormRow.w_last
								button.wSubmit.gradient-button Сохранить изменения
					.lk-block_social
						.lk-block_title Связь с соцсетями
						- for(i=0;i<3;i++) {
						.lk-block_social_soc
							.lk-block_social_icon.eVk
							.lk-block_social_text
								.lk-block_social_link http://vk.com/id48090390
								.lk-block_social_edit.call-popupLink.mfiA(data-url="hidden/social-popup.php") Редактировать
						- }
					.lk-block_password
						.wrap
							.lk-block_title Изменить пароль
							.wForm.wFormDef.wFormPreloader.js-check(data-form="true")
								.wFormRow
									-elementName = 'demo_password'
									-elementLabel = 'Старый пароль:'
									-elementType = 'password'
									-elementPlaceholder = 'Ваш новый пароль'
									-
										var attrs = {
										required: true,
										type: 'password',
										name: elementName,
										id: elementName,
										placeholder: '',
										'data-rule-password': 'true',
										'data-rule-minlength':4
										}
									label.wLabel(for=elementName)= elementLabel
									.wFormInput
										input.wInput&attributes(attrs)
										.inpInfo= elementLabel
										.svgHolder.js-show-pass
											svg: use(xlink:href="#eyePassword")/
								.wFormRow
									-elementName = 'demo_equalTo_password'
									-elementLabel = 'Новый пароль:'
									-elementType = 'password'
									-elementPlaceholder = 'Ваш новый пароль'
									-
										var attrs = {
										required: true,
										type: 'password',
										name: elementName,
										id: elementName,
										placeholder: '',
										'data-rule-password': 'true',
										'data-rule-minlength':4
										}
									label.wLabel(for=elementName)= elementLabel
									.wFormInput
										input.wInput&attributes(attrs)
										.inpInfo= elementLabel
										.svgHolder.js-show-pass
											svg: use(xlink:href="#eyePassword")/

								.wFormRow
									-elementEqual = '#'+elementName
									-elementName = elementName+'_to'
									-elementLabel = 'Пароль еще раз:'
									-
										var attrs = {
										required: true,
										type: 'password',
										name: elementName,
										id: elementName,
										placeholder: '',
										'data-rule-password': 'true',
										'data-rule-equalTo': elementEqual,
										'data-rule-minlength':4
											}
									label.wLabel(for=elementName)= elementLabel
									.wFormInput
										input.wInput&attributes(attrs)
										.inpInfo= elementLabel
										.svgHolder.js-show-pass
											svg: use(xlink:href="#eyePassword")/

								.wFormRow.w_last
									.wSubmit.gradient-button.gray Сохранить изменения
