﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'new'
	-bodyAttr.class = 'indexPage'
	-seoSet = false
	-mainMenuPath = ['Главная']
	
block wMenu

block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		h1.tit Новые функции посудомоечных машин
		.new-block
			.news-item_date 24 июня 2016
			.wTxt
				.img
					img(src='images/news-img.jpg')
				p
					em Производители бытовой техники постоянно совершенствуют машины для мытья посуды, стараясь максимально облегчить жизнь их владельцу. Также не в последнюю очередь они заботятся об экологическом равновесии и сохранении природных ресурсов.
				h5 Экономим природные ресурсы и электроэнергию
				p Процесс ополаскивания посуды крайне важен, ведь никто не хочет вместе с пищей поглощать остатки бытовой химии для мытья посуды. В то же время желательно, чтобы расход воды и электричества был минимальным.
				p В современных посудомоечных машинах для эффективного ополаскивания расходуется ровно столько воды и электроэнергии, сколько для этого необходимо. Помогают в этом специальные сенсорные системы, которые контролируют чистоту и количество используемой воды.
				p У разных производителей они называются по-разному – #[span(style='color: #1088a0') Sensor System, AquaSensor] .
				p После ополаскивания датчики с фотоэлементами способны определить прозрачность воды и решить, можно ли использовать ее повторно или спустить в канализацию. При вторичном использовании проводится очищение воды через фильтры. Как показывает практика, чаще всего вода используется второй раз и ее экономия ощутима. Если же посуда отмыта недостаточно, то запускается цикл повторного полоскания.
				p Сенсоры также фиксируют количество воды на входе в посудомойку и на выходе. Разница – это оставшаяся на посуде жидкость. По ней высчитывается количество посуды, загруженной в машинку. Далее рассчитывается, сколько необходимо моющего средства и воды для мытья и полноценного ополаскивания.
				p Если сенсор покажет, что посудомоечная машина загружена наполовину – включается режим половинной загрузки, позволяющий приблизительно на 25% сэкономить ресурсы и продлить срок службы посудомойки.
				.pseudo-gallery.cols-3
					.pseudo-gallery_images
						img(src='images/news-img.jpg')
					.pseudo-gallery_images
						img(src='images/news-img.jpg')
					.pseudo-gallery_images
						img(src='images/news-img.jpg')
				h5 Новые технологии для сушки посуды
				p Одними из основных недостатков после сушки посуды в машинке были:
				ul
					li Оставшиеся недосушенными столовые и кухонные изделия при их неудачном расположении в сетках;
					li «Разводы» от осевших минералов после испарения воды;
					li Наличие пара при открывании дверцы посудомойки.
				p Этих проблем не существует в посудомоечных машинах, где для сушки посуды используется минерал цеолит, способный впитывать влагу и вырабатывать тепловую энергию. Современные модели оборудуются контейнерами с цеолитом, который не нуждается в замене в течение срока службы посудомойки. Благодаря использованию данной технологии можно существенно снизить потребление электроэнергии посудомоечной машиной.
			a.pPrev(href='#')
				.wrap
					.svgHolder
						svg: use(xlink:href="#arrow")/
				span Назад к списку новостей
			.social-share
				.w_tac
					span Поделиться:
					.pluso
						| <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
						| <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
						| <a class="a2a_button_vk"></a>
						| <a class="a2a_button_odnoklassniki"></a>
						| <a class="a2a_button_facebook"></a>
						| <a class="a2a_button_twitter"></a>
						| <a class="a2a_button_google_plus"></a>
						| </div>
