﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'news'
	-bodyAttr.class = 'news-page'
	-seoSet = false
	-mainMenuPath = ['Главная']
	
block wMenu

block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		h1.tit Новости
		.news-block.w_clearfix
			.years
				a(href='#').is_active 2016
				a(href='#') 2015
				a(href='#') 2014
				a(href='#') 2013
			.promotions
				a(href='#')
					.svgHolder
						svg: use(xlink:href="#promotions")/
					span Акции
				a(href='#')
					span Статьи
			.news-block_items.cols-4
				- for(i=0;i<8;i++){
					include ../Widgets/newsBlock
				- }
		include ../Widgets/pagination