﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'search'
	-bodyAttr.class = 'groupPage'
	-seoSet = true
	-mainMenuPath = ['Главная']

block wMenu
block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		h1.tit Результаты для “#[i стиральная машина]”
		.group-block
			.group-block_sv
				.group-block_sort
					span Сортировать
					.group-block_select
						select.select2
							option цена от большей к меньшей
				.group-block_view
					span На странице
					.group-block_select
						select.select2
							option 24
							option 48
							option 72

			.list-item_cols-5
				- for (i = 0; i<10; i++) {
				include ../Widgets/itemList
				- }
		include ../Widgets/pagination
	include ../Widgets/lastView
	include ../Widgets/advantages
	#cloneSeo