﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/SiteMap.jade
	Карта сайта / sitemap.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'sitemap'
	-mainMenuPath = ['Карта сайта']

block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		h1.tit Карта сайта
		
		nav.wSitemap
			+menuList(LOCALS.sitemap)
