﻿//- ++++++++++++++++++++++++++++++++++++++++
	Views/Index.jade
	Главная страница / index.html
	Wezom wTPL v4.0.0
//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'cart'
	-bodyAttr.class = 'news-page'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		.cart-block
			.cart-block_steps
				.cart-block_step
					a(href='#') Корзина
						i № 123845
				.cart-block_step
					a(href='#') Личные данные
				.cart-block_step.is-active
					span Доставка и оплата
			.cart-block_step2.cart-block_colStep-2
				.cart-block_colStep
					.bg-wrapper
						.lk-block_title Варианты доставки
						.wForm.wFormDef.not-width.wFormPreloader(data-form="true", data-ajax="wForm-demo-submit.php")
							.shipping-block
								.wFormRow
									label.wLabel Выберите Ваш вариант доставки*
									select.select2--delivery(required)
										option
										option(value='np') Доставка в отделение "Нова пошта"
										option Доставка в отделение Ночной экспресс
								.js-hidden.js-np
									.shipping-block_cols-2
										.wFormRow
											-elementName = 'demo_word_input'
											-elementLabel = 'Имя и фамилия:*'
											-
												var attrs = {
												required: true,
												type: 'text',
												name: elementName,
												id: elementName,
												placeholder: '',
												'data-rule-word': 'true',
												'data-rule-minlength':2,
												value:'Федченко Ирина'
												}
											label.wLabel(for=elementName)= elementLabel
											.wFormInput
												input.wInput&attributes(attrs)
												.inpInfo= elementLabel
										.wFormRow
											-elementName = 'demo_callback'
											-elementLabel = 'Мобильный телефон:*'
											-
												var attrs = {
												required: true,
												type: 'tel',
												name: elementName,
												id: elementName,
												placeholder: '',
												'data-rule-phoneUA': 'true',
												class:'phone-mask',
												value:'0501233245'
												}
											label.wLabel(for=elementName)= elementLabel
											.wFormInput
												input.wInput&attributes(attrs)
												.inpInfo(for=elementName)= elementLabel
										.wFormRow
											label.wLabel Область*
											select.select2
												option Херсонская
										.wFormRow
											label.wLabel Город*
											select.select2
												option Херсон
									.wFormRow
										label.wLabel Отделение Новой почты*
										select.select2
											option Відділення № 16 (до 15 кг), Міні-відділення: просп. Будівельників, 27а
										.wCaption
											span.i.mfiA(data-url="hidden/text-popup.php")
											span Заказ будет храниться на отделении почты до 5 рабочих дней
								.js-hidden.js-notNp
									.shipping-block_cols-2
										.wFormRow
											-elementName = 'demo_word_input'
											-elementLabel = 'Имя и фамилия:*'
											-
												var attrs = {
												required: true,
												type: 'text',
												name: elementName,
												id: elementName,
												placeholder: '',
												'data-rule-word': 'true',
												'data-rule-minlength':2,
												value:'Федченко Ирина'
												}
											label.wLabel(for=elementName)= elementLabel
											.wFormInput
												input.wInput&attributes(attrs)
												.inpInfo= elementLabel
										.wFormRow
											-elementName = 'demo_callback'
											-elementLabel = 'Мобильный телефон:*'
											-
												var attrs = {
												required: true,
												type: 'tel',
												name: elementName,
												id: elementName,
												placeholder: '',
												'data-rule-phoneUA': 'true',
												class:'phone-mask',
												value:'0501233245'
												}
											label.wLabel(for=elementName)= elementLabel
											.wFormInput
												input.wInput&attributes(attrs)
												.inpInfo(for=elementName)= elementLabel
									.wFormRow
										label.wLabel Введите комментарий*
										.wFormTextarea
											textarea.wTextarea(required,data-rule-minlength='20',name='comment')
							.lk-block_title Варианты оплаты
							.pay-block
								.wFormRow
									label.wLabel Выберите Ваш вариант оплаты*
									select.select2
										option Оплата наличными при получении
							.wFormRow.w_last
								.wSubmit.gradient-button Оформить
					.items-to-buy
						div.popup-cart.minify
							- for (i=0;i<2;i++) {
							.popup-cart_item.w_clearfix
								.popup-cart_item_img
									a(href='#')
										img(src='images/wash-item.jpg')
								.popup-cart_item_cener
									.popup-cart_item_title
										a(href='#') LED-телевизор SAMSUNG UE32J5500AUXUA
										.popup-cart_item_pricetel 343 грн.
								.popup-cart_item_onetext 1 штука
								.popup-cart_item_price 343 грн
							- }
				.cart-block_colStep
					.cart-block_final
						.footer-basket_title
							.svgHolder
								svg: use(xlink:href="#logo")/
							span Ваш заказ
							a(href='#').call-popupLink Редактировать
						.footer-basket_prices
							.footer-basket_count
								div 2 товара на сумму
								b 1049999 грн
							.footer-basket_summary
								div Итого:
								b 1049999 грн
