﻿//- ++++++++++++++++++++++++++++++++++++++++
	Views/Index.jade
	Главная страница / index.html
	Wezom wTPL v4.0.0
//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'cart'
	-bodyAttr.class = 'news-page'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		.cart-block
			.cart-block_steps
				.cart-block_step
					a(href='#') Корзина
						i № 123845
				.cart-block_step.is-active
					span Личные данные
				.cart-block_step
					span Доставка и оплата
			.cart-block_step2.cart-block_colStep-2
				.cart-block_colStep
					.bg-wrapper
						.wForm.wFormDef.wFormPreloader(data-form="true", data-ajax="wForm-demo-submit.php")
							.wFormRow
								-elementName = 'demo_word_input'
								-elementLabel = 'Имя и фамилия:*'
								-
									var attrs = {
									required: true,
									type: 'text',
									name: elementName,
									id: elementName,
									placeholder: '',
									'data-rule-word': 'true',
									'data-rule-minlength':2,
									value:'Федченко Ирина'
									}
								label.wLabel(for=elementName)= elementLabel
								.wFormInput
									input.wInput&attributes(attrs)
									.inpInfo= elementLabel
							.wFormRow
								-elementName = 'demo_callback'
								-elementLabel = 'Мобильный телефон:*'
								-
									var attrs = {
									required: true,
									type: 'tel',
									name: elementName,
									id: elementName,
									placeholder: '',
									'data-rule-phoneUA': 'true',
									class:'phone-mask',
									value:'0501233245'
									}
								label.wLabel(for=elementName)= elementLabel
								.wFormInput
									input.wInput&attributes(attrs)
									.inpInfo(for=elementName)= elementLabel

							.wFormRow
								-elementName = 'demo_email_input'
								-elementLabel = 'Электронная почта:*'
								-
									var attrs = {
									required: true,
									type: 'email',
									name: elementName,
									id: elementName,
									placeholder: '',
									'data-rule-email': 'true',
									value:'ponachka04@gmail.com'
									}
								label.wLabel(for=elementName)= elementLabel
								.wFormInput
									input.wInput&attributes(attrs)
									.inpInfo= elementLabel
							.wFormRow.w_last
								.wSubmit.gradient-button Продолжить
									.svgHolder
										svg: use(xlink:href="#arrow_slide")/
					.items-to-buy
						div.popup-cart.minify
							- for (i=0;i<2;i++) {
							.popup-cart_item.w_clearfix
								.popup-cart_item_img
									a(href='#')
										img(src='images/wash-item.jpg')
								.popup-cart_item_cener
									.popup-cart_item_title
										a(href='#') LED-телевизор SAMSUNG UE32J5500AUXUA
										.popup-cart_item_pricetel 343 грн.
								.popup-cart_item_onetext 1 штука
								.popup-cart_item_price 343 грн
							- }
				.cart-block_colStep
					.cart-block_final
						.footer-basket_title
							.svgHolder
								svg: use(xlink:href="#logo")/
							span Ваш заказ
							a(href='#').call-popupLink Редактировать
						.footer-basket_prices
							.footer-basket_count
								div 2 товара на сумму
								b 1049999 грн
							.footer-basket_summary
								div Итого:
								b 1049999 грн