﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'cart'
	-bodyAttr.class = 'news-page'
	-seoSet = false
	-mainMenuPath = ['Главная']
	
block wMenu

block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		.cart-block
			.cart-block_steps
				.cart-block_step.is-active
					span Корзина
						i № 123845
				.cart-block_step
					span Личные данные
				.cart-block_step
					span Доставка и оплата
			.cart-block_cart
				.cart-block_titleCart
					div
					div Наименование товара
					div Цена за единицу
					div Количество
					div Общая сумма
				div.popup-cart
					- for (i=0;i<2;i++) {
						.popup-cart_item
							.popup-cart_item_img
								a(href='#')
									img(src='images/wash-item.jpg')
							.popup-cart_item_cener
								.popup-cart_item_title
									a(href='#') LED-телевизор SAMSUNG UE32J5500AUXUA
								.popup-cart_item_countPrice 1 шт. х&nbsp;
									i 34
									| &nbsp;грн.
								.popup-cart_item_pricetel
									span 34
									| &nbsp;грн
							.popup-cart_item_price_one 34 грн
							.popup-cart_item_count
								.popup-cart_item_dec.js-change-count(data-id="",data-delta="-1")
								.popup-cart_item_input
									input(type='tel',value='1',maxlength=2,onkeypress='return event.charCode >= 48 && event.charCode <= 57').js-count
								.popup-cart_item_inc.js-change-count(data-id="",data-delta="1")
								.popup-cart_item_remove
									span.call-popupLink.js-remove-from-cart(data-id="") удалить товар
							.popup-cart_item_price
								span 34
								| &nbsp;грн
					- }
				.footer-basket
					.footer-basket_cols-2
						.footer-basket-col
							.footer-basket_title
								.svgHolder
									svg: use(xlink:href="#logo")/
								span Ваш заказ
							.footer-basket_footer
								.footer-basket_prices
									.footer-basket_count
										div
											em 0
											| &nbsp;товара на сумму
										b
											span 0
											| &nbsp;грн
									.footer-basket_promo-mes
									.footer-basket_summary
										div Итого:
										b
											span 0
											| &nbsp;грн
								.footer-basket_promos
									.footer-basket_promo
										.call-popupLink.mfiA(data-url="hidden/promocode_popup.php") Ввести промокод
										span.i.mfiA(data-url="hidden/text-popup.php")
									.footer-basket_promo.mfiA(data-url="hidden/certificate_popup.php")
										.call-popupLink Оплатить сертификатом
										span.i.mfiA(data-url="hidden/text-popup.php")
						.footer-basket-col
							a(href='#').gradient-button Продолжить
								.svgHolder
									svg: use(xlink:href="#arrow_slide")/