﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/UI_elements.jade
	Текстовая страница / ui_elements.html
	Пример

	Wezom wTPL v3.0
	2015.01.12 / Олег Дутченко

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'ui_elements'
	-mainMenuPath = ['UI Раздел', 'UI Элементы']

block wContainer
	.wSize
		+pageTitle()
		include ../Widgets/Breadcrumbs

		.pageTitle.w_middle Кнопки

		span.gradient-button lalala
		br
		br
		span.gradient-button.gray lalala
		br
		br
		span.rss-socials_form
			.wSubmit lsa
		br
		br
		.gradient-button Продолжить
			.svgHolder
				svg: use(xlink:href="#arrow_slide")/
		br
		br
		span.call-popupLink lasdasdas
		br
		br
		div.mb10
			+wBtn('a .wBtn')
			+wBtn('button .wBtn', 'button')
			+wBtn('span .wBtn', 'span')
			+wBtn('input .wBtn', 'input')
		div.mb10
			+wBtn('Default', 'button')
			+wBtn('Primary', 'button', 'w_primary')
			+wBtn('Succes', 'button', 'w_success')
			+wBtn('Info', 'button', 'w_info')
			+wBtn('Warning', 'button', 'w_warning')
			+wBtn('Danger', 'button', 'w_danger')
		div.mb10
			+wBtnSvg('icon_arrow_right', 'Default', 'button', 'w_rightIcon')
			+wBtnSvg('icon_arrow_left', 'Primary', 'button', 'w_primary')
			+wBtnSvg('icon_burger', 'Succes', 'button', 'w_success')
			+wBtnSvg('icon_search', 'Info', 'button', 'w_info')
			+wBtnSvg('icon_search', 'Warning', 'button', 'w_warning')
			+wBtnSvg('icon_search', 'Danger', 'button', 'w_danger')
		div.mb10
			+wBtnSvg('icon_arrow_right', 'Default', 'button', 'w_large w_rightIcon')
			+wBtnSvg('icon_arrow_left', 'Primary', 'button', 'w_large w_primary')
			+wBtnSvg('icon_burger', 'Succes', 'button', 'w_large w_success')
			+wBtnSvg('icon_search', 'Info', 'button', 'w_large w_info')
			+wBtnSvg('icon_search', 'Warning', 'button', 'w_large w_warning')
			+wBtnSvg('icon_search', 'Danger', 'button', 'w_large w_danger')

		.pageTitle.w_middle Пагинация
		
		include ../Widgets/pagination

		.pageTitle.w_middle Magnific
		span.gradient-button.mfiA(data-url="hidden/callback.php") Вызов
