﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/UI_elements.jade
	Текстовая страница / ui_elements.html
	Пример

	Wezom wTPL v3.0
	2015.01.12 / Олег Дутченко

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'ui_svg'
	-mainMenuPath = ['UI Раздел', 'UI SVG Sprite']

block wContainer
	.wSize
		+pageTitle()
		include ../Widgets/Breadcrumbs

		.pageTitle.w_middle Список svg иконок

		.w_block
			style
				| #svgSpritePreviewList{font-size:0;line-height:0;display:table;width:100%}.svgSpritePreviewItem{display:inline-block;vertical-align:top;margin:0 1% 1% 0;width:10%;box-sizing:border-box;border:1px solid rgba(0,0,0,.1)}.svgSpritePreviewHolder svg,.svgSpritePreviewHolder:before{display:block;top:0;right:0;bottom:0;max-width:76%;max-height:76%;margin:auto;left:0}.svgSpritePreviewHolder{cursor:pointer;display:block;position:relative;width:100%;padding-top:100%;background-color:#fff}.svgSpritePreviewHolder svg{position:absolute}.svgSpritePreviewHolder:before{content:'';position:absolute;border:1px dashed rgba(0,0,0,.1)}.svgSpritePreviewHolder:after{content:attr(data-title);font-size:12px;line-height:20px;position:absolute;z-index:10;top:100%;left:0;display:none;box-sizing:border-box;min-width:100%;max-height:20px;margin:3px auto auto;padding:0 5px;text-align:center;color:#fff;background-color:#000}.svgSpritePreviewHolder:hover{background-color:transparent}.svgSpritePreviewHolder:hover:after{display:block}
			+svgSpritePreview()

			ul#svgSpritePreviewList
				li Тут пока пусто

			div(style="display:none;")
				#svgSpritePreviewPopUp.mfiModal.zoomAnim(style="max-width: 720px;")
					.pageTitle.w_small
						span.svgSpritePreviewItemName: em lorem
					.wTxt
						p JADE svg use
						pre
							| span.svgHolder
							= '\n'
							| 	svg: use('xlink:href="##[span.svgSpritePreviewItemName lorem]"')/
						p HTML svg use
						pre
							| &lt;span class="svgHolder">
							= '\n'
							| 	&lt;svg>&lt;use xlink:href="##[span.svgSpritePreviewItemName lorem]" />&lt;/svg>
							= '\n'
							| &lt;/span>
