.advantages
	.wSize
		.advantages_title Преимущества работы с #[b e-konomia.com.ua]
		.wrap
			.advantages_icons
				.advantages_icon-block
					.advantages_icon.delivery
						span
				.advantages_desc Доставка #[br] по Украине

			.advantages_icons
				.advantages_icon-block
					.advantages_icon.warranty
						span
				.advantages_desc Гарантия #[br] лучшей цены

			.advantages_icons
				.advantages_icon-block
					.advantages_icon.discount
						span
				.advantages_desc Дисконтная #[br] программа

			.advantages_icons
				.advantages_icon-block
					.advantages_icon.shield
						span
				.advantages_desc Официальная #[br] гарантия

			.advantages_icons
				.advantages_icon-block
					.advantages_icon.return
						span
				.advantages_desc Возврат или обмен #[br] без проблем

			.advantages_icons
				.advantages_icon-block
					.advantages_icon.pay
						span
				.advantages_desc Различные способы #[br] оплаты
