.wSize
	.itams-list-tabs
		.ajax-tabs
			.ajax-tabs_links.js-ajax-tabs
				p
					span.is-active(data-block='special') Специальные предложения
				p
					span(data-block='popular').js-ajax-need Популярные товары
				p
					span(data-block='new').js-ajax-need Новинки
			.ajax-tabs_blocks.js-ajax-bloks
				.list-item_cols-5.ajax-tabs_block(data-src='special')
					- for (i = 0; i<3; i++){
						include ../Widgets/itemList
					- }
					- for (i = 0; i<3; i++){
					include ../Widgets/itemList
					- }
					- for (i = 0; i<3; i++){
					include ../Widgets/itemList
					- }
						include ../Widgets/itemList
				.list-item_cols-5.ajax-tabs_block(data-src='popular')
				.list-item_cols-5.ajax-tabs_block(data-src='new')
				.see-all
					a(href='#') Смотреть все товары