﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Widgets/Breadcrumbs.jade
	Типовая страница index.html
	Главная страница

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

.breadcrumbs
	+breadcrumbs(fileData, true)
// breadcrumbs 
= '\n'