// Внешние js файлы
if viewTpl == 'ErrorPage'
	script(src="js/libs.js")
else
	script(src="js/libs.js")
	script(src="js/components.js")
	script(src="js/inits.js")
	script(src="js/validation.js")
	| <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&amp;key=AIzaSyAeiDYGyarnWalSY8SQCIxxhoy-8Qq541c" async="" defer=""></script>
	script
		| var Locations = [
		|    {
		|        lat: 25.987099,
		|    lon: -80.1747707,
		|    descr: '<p>3146 John P Curci Dr, Pembroke Park, FL, 33009</p> <p>1-786-799-8961</p> <p><a href="mailto:support@elportadoors.com">support@elportadoors.com</a></p>'
		|    }
		| ];

='\n'
