﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Widgets/Head.jade
	-мета-теги,
	-адаптация,
	-фавиконки,
	-seoSet стили,
	-тест localStorage

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

// (c) студия Wezom | www.wezom.com.ua
// wTPL | v#{locals.version}
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
block pageTitle
	title= fileTitle+' | Верстка | (c) студия Wezom | www.wezom.com.ua'
meta(name="description" lang="ru-ru" content="")
meta(name="keywords" lang="ru-ru" content="студия wezom, разработка сайтов")
meta(name="keywords" lang="en-us" content="studio wezom, web development")
meta(name="author" lang="ru-ru" content="")
= '\n'

meta(name="apple-mobile-web-app-status-bar-style",content="#50565e")
meta(name='theme-color', content='#50565e')
meta(name="msapplication-navbutton-color",content="#50565e")

// Open Graph 
meta(property="og:title" content="Заголовок страницы")
meta(property="og:type" content="website")
meta(property="og:site_name" content="site.com")
meta(property="og:url" content="http://site.com/current-page")
meta(property="og:image", content=LOCALS.media+"images/site-image.jpg")
meta(property="og:description" content="краткий текст (новости, товара и т.д)")
= '\n'

// Touch 
meta(name="format-detection" content="telephone=no")
meta(name="format-detection" content="address=no")
= '\n'

if locals.responsive
	//Responsive
	meta(name="HandheldFriendly" content="True")
	meta(name="MobileOptimized" content="320")
	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="viewport" content="target-densitydpi=device-dpi")
	meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
else
	//Not responsive
	meta(name="viewport" content="width=1000")
	meta(name="viewport" content="width=device-width, initial-scale=1")

= '\n'

// saved from url=(0014)about:internet 
='\n\t\t'
<!--[if IE]><meta http-equiv="imagetoolbar" content="no"><![endif]-->
='\n\t\t'
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
= '\n'

+seoSetInclude()
+includeLocalStorage()

//- подключение внешних css файлов
block HeadExternalCss
	if viewTpl == 'Base'
		include ExternalCss
//- подключение внешних js файлов
block HeadExternalJs
	if viewTpl == 'Base'
		include ExternalJs

		| <script>
		| var a2a_config = a2a_config || {};
		| a2a_config.onclick = 1;
		| a2a_config.locale = "ru";
		| a2a_config.num_services = 6;
		| </script>
		| <script async src="https://static.addtoany.com/menu/page.js"></script>