.list-item
	.list-item_category
		a(href='#') Бытовая техника
	.list-item_image
		.list-item_promotions
		a(href='#')
			img(src='images/wash-item.jpg')
	.list-item_title
		a(href='#') LED-телевизор SAMSUNG UE32J5500AUXUA
	.list-item_options.w_clearfix
		.list-item_price #[b 104999] грн
		.list-item_CompareFavorite
			a(href='#',data-src='compare', data-url="lk-compare.html").list-item_compare.js-addItem
				.svgHolder
					svg: use(xlink:href="#compare")/
			a(href='#',data-src='favorite',data-url="lk-favorites.html").list-item_favorite.js-addItem
				.svgHolder
					svg: use(xlink:href="#heart")/
	.list-item_buttons.w_clearfix
		.list-item_buy.js-add-to-cart.js-addItem.mfiA(data-id="123",data-name="name",data-price="322",data-src='basket',data-url="hidden/cart_popup.php")
			span.svgHolder
				svg: use(xlink:href="#item_basket")/
			span.name Купить
		.list-item_oneClick.mfiA(data-url="hidden/oneClick.php",data-param="&id=123123") Заказать в 1 клик
	- if (fileAlias == 'lk') {
	.list-item_remove.js-remove-item
		span(href='#') &#10006;
	- }