.list-item.small
	.list-item_category
		a(href='#') Бытовая техника
	.list-item_image
		.list-item_promotions
		a(href='#')
			img(src='images/wash-item.jpg')
	.list-item_title
		a(href='#') LED-телевизор SAMSUNG UE32J5500AUXUA
	.list-item_options.w_clearfix
		.list-item_price 104999 грн
		.list-item_CompareFavorite
			a(href='#').list-item_compare
				.svgHolder
					svg: use(xlink:href="#compare")/
			a(href='#').list-item_favorite
				.svgHolder
					svg: use(xlink:href="#heart")/
	.list-item_buttons.w_clearfix
		.list-item_buy.js-add-to-cart(data-id="123",data-name="name",data-price="322")
			span.svgHolder
				svg: use(xlink:href="#item_basket")/
			span.name Купить
		.list-item_oneClick.mfiA(data-url="hidden/oneClick.php",data-param="&id=123123") Заказать в 1 клик
	- if (fileAlias == 'lk') {
	.list-item_remove.js-remove-item
		span(href='#') &#10006;
	- }