.lastView
	.wSize
		.blocks-title.icon-eye Недавно просмотренные товары
		.list-item_cols-5
			- for (i = 0; i<5; i++) {
				include ../Widgets/itemList
			- }
		.see-all
			a(href='#') Смотреть все товары