.news-item
	a(href='#').news-item_img
		img(src='images/news-img.jpg')
	.news-item_title
		a(href='#') Флагманский смартфон Huawei P9 официально представлен в Украине
	- if(fileAlias != 'index') {
	.news-item_desc Стиральная машина BEKO HTV 8633 XS0 сочетает в себе функции стирки и сушки. Данная модель может справиться за один цикл с 8 кг белья, а если вы захотите сразу же высушить его, то
	.news-item_date 24 июня 2016
	- }
