.one-response
	.one-response_stars
		.rating
			span.rating__stars(data-rating='3')
				i
					svg
						use(xlink:href='#icon_star_small')
				i
					svg
						use(xlink:href='#icon_star_small')
				i
					svg
						use(xlink:href='#icon_star_small')
				i
					svg
						use(xlink:href='#icon_star_small')
				i
					svg
						use(xlink:href='#icon_star_small')
	.one-response_name Линник Юрий
	.one-response_date 24 июня 2016
	.one-response_text
		.one-response_textline
			p
				b Недостатки:
			p Открытая дверца автоматически встает под углом 45 градусов, а не 90
		.one-response_textline
			p
				b Достоинства:
			p Удобная и компактная
		.one-response_textline
			p Хорошая стиральная машина. Отлично стирает. Барабан по окончании всегда "встает" дверцами вверх, что удобно при открытии. Слегка не радует то, что когда открываешь дверцу, она автоматически встает на 45 градусов
	.one-response_pm
		.one-response_plus
			.svgHolder
				svg: use(xlink:href="#hand_finger")/
			span 4
		.one-response_minus
			.svgHolder
				svg: use(xlink:href="#hand_finger")/
			span 5