﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Widgets/PageBottom.jade
	Системный подвал страницы

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

//- подключение внешних css файлов
block FooterExternalCss
//- подключение внешних js файлов
block FooterExternalJs

= '\n'
if includeOldJs || includeNoScript || (includeLocalStorage && includeSvgSprite)
	// WezomDefs 
	//- Подключение элементов в конце страницы (noscript, wOld.js, svg-sprite)
	include WezomDefs

//- доп. блок
block bottomBlock
	//- подключение внешних css файлов
	block bottomExternalCss
		if viewTpl == 'ErrorPage'
			include ExternalCss
	//- подключение внешних js файлов
	block bottomExternalJs
		if viewTpl == 'ErrorPage'
			include ExternalJs