.paginWrapp
	a.pPrev(href='#').js-arrows
		.wrap
			.svgHolder
				svg: use(xlink:href="#arrow")/
		span Назад
	a(href='#').js-full-response(data-count='10',data-offset='0').curr 1
	a(href='#').js-full-response(data-count='10',data-offset='10') 2
	a(href='#').js-full-response(data-count='10',data-offset='20') 3
	a(href='#').js-full-response(data-count='10',data-offset='30') 4
	a(href='#').js-full-response(data-count='10',data-offset='40') 5
	a(href='#').js-full-response(data-count='10',data-offset='50') 6
	a.pNext(href='#').js-arrows
		span Вперед
		.wrap
			.svgHolder
				svg: use(xlink:href="#arrow")/
