.paginWrapp
	a.pPrev(href='#')
		.wrap
			.svgHolder
				svg: use(xlink:href="#arrow")/
		span Назад
	a(href='#') 1
	a(href='#') 2
	a(href='#') 3
	a(href='#').curr 4
	a(href='#') 5
	a(href='#') 6
	a.pNext(href='#')
		span Вперед
		.wrap
			.svgHolder
				svg: use(xlink:href="#arrow")/
