﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Widgets/ExternalCss.jade
	Хак-метод для установки СЕО текста в DOM структуре максимально вверху, при этом визуально текст позиционируется в нужном месте.

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

#seoTxt.seoTxt
	.wSize
		.wTxt
			h1 СЕО Текст работает
			p Вас интересует бытовая техника, компьютеры, софт или товары для активного отдыха? Все это вы можете купить прямо сейчас, сэкономив уйму времени! Интернет-магазин Rozetka™ с радостью поможет вам избежать необходимости посещать десятки магазинов. Вы можете заказать любой товар, не вставая со своего кресла, а наш курьер вовремя доставит покупку по указанному адресу.
			p Вне зависимости от того, где вы находитесь на данный момент, вы сможете заказать товар, что, согласитесь, очень удобно. Какие же преимущества предлагает наш интернет-магазин электроники, телефонов и прочих товаров? Наиболее существенный факт – наличие тысяч позиций, которые гарантированно имеются на складе. Вы сможете посетить наш интернет магазин и купить любые товары по невысокой цене. Вам необходим холодильник, стиральная машина или микроволновая печь?
// .seoTxt
= '\n'