﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Widgets/wFooter.jade

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

//- разделеный подвал
	-var block = 'wFooter'
	footer(class=block)
		div(class=block+'_Top')
			.wSize
		div(class=block+'_Middle')
			.wSize
		div(class=block+'_Bottom')
			.wSize

//- простой подвал
footer.wFooter
	.wSize
		.pseudo-table.table
			.col
				a(href='/').logo.small
					.logo__icon
						span.svgHolder
							svg: use(xlink:href="#logo")/
					.logo__text
						.logo__name
							img(src='pic/logo-text.png',alt='')
						.logo__desc
							span Продажа электроники и бытовой техники
				.js-phone-call
					.phone-dropdown.phone-dropdown-margin.relative.js-relative
						.phone-dropdown__mainNumber
							span
								a(href='tel:0991234567') (0512) 123-45-67
							.arrowdown
							.phone-dropdown__list
								.phone-dropdown__phone.vodafone
									span
										a(href='tel:0991234567') (052) 123-45-67
								.phone-dropdown__phone.life
									span
										a(href='tel:0991234567') (051) 123-45-67
					span.call-popupLink.call-popupLink-margin.mfiA(data-url="hidden/callback.php") Закажите обратный звонок
				a(href='mailto:e-konomia@gmail.com').email-link.email-link_margin
					span.svgHolder
						svg: use(xlink:href="#mail")/
					span e-konomia@gmail.com
			.col
				.footer-menu
					ul.footer-menu_list
						li
							a(href='#') О кампании
						li
							a(href='#') Новости
						li
							a(href='#') Статьи
						li
							a(href='#') Акции
						li
							a(href='#') Доставка
						li
							a(href='#') Контакты
					ul.footer-menu_list
						li
							a(href='#') Наши партнеры
						li
							a(href='#') Карта сайта
						li
							a(href='#') Гарантия
						li
							a(href='#') Подключение, установка и настройка техники
			.col
				.rss-socials.wForm(data-form="true")
					.rss-socials_title Подпишитесь на рассылку #[br]  новостей и акционных предложений от e-konomia.com.ua
					.rss-socials_form.wFormRow
						input(type='email',required,placeholder='Ваш e-mail')
						span.wSubmit ок
					.rss-socials_social
						span Мы в соцсетях
						.rss-socials_icons
							a(href='#')
								span.vk
							a(href='#')
								span.fb
							a(href='#')
								span.od
							a(href='#')
								span.tw
	.footer-line
		.wSize.w_clearfix
			.footer-line_left
				span © 2016 E-konomia.com.ua <i>Продажа бытовой техники и электроники</i>
			.footer-line_right
				a.footer-line_logo(href='http://wezom.com.ua',target='_blank')
					span Разработано в студии Wezom
					span.svgHolder
						svg: use(xlink:href="#icon_wezom")/
.overlay.js-overlay

svg#svgSprite(xmlns='http://www.w3.org/2000/svg', style='height:0; width:0; visibility:hidden; position:absolute; top:0; left:0;')
	symbol#icon_star(viewbox='0 0 17 15')
		path(data-name='Shape 3 copy 3', d='M1031,978l-3,5h-6l5,4-1,6,5-3,5,3-1-6,4-4h-6Z', transform='translate(-1022 -978)')
