﻿//- ++++++++++++++++++++++++++++++++++++++++
	Views/Widgets/wHeader.jade
	Wezom wTPL v4.0.0
//- ++++++++++++++++++++++++++++++++++++++++

//- разделеный хедер
	-var block = 'wHeader'
	header(class=block)
		div(class=block+'_Top')
			.wSize
		div(class=block+'_Middle')
			.wSize
		div(class=block+'_Bottom')
			.wSize

//- простой хедер
header.wHeader
	.wSize
		.pseudo-table.w_clearfix
			.col
				a(href='/').logo
					.logo__icon
						span.svgHolder
							svg: use(xlink:href="#logo")/
					.logo__text
						.logo__name
							img(src='pic/logo-text.png',alt='')
						.logo__desc
							span Продажа электроники и бытовой техники
			.col
				include ../Widgets/wMenu_top
				.phones-with-link
					.vodafone
						b
							a(href='tel:0991234567') (099) 123-45-67
					.city
						b
							a(href='tel:0991234567') (0512) 123-45-67
					.life
						b
							a(href='tel:0991234567') (099) 123-45-67
					.popup-link.w_tar
						span.call-popupLink.mfiA(data-url="hidden/callback.php") Закажите обратный звонок
				.work-time
					p #[b Пн-Пт] – 9:00-17:00
					p #[b Сб-Вс]  – выходной
			.col
				- if(fileAlias == 'index') {
				.enter-lk
					span Здравствуйте,
					.svgHolder
						svg: use(xlink:href="#user_lk")/
					a(href='#') Ирина Федченко
					a.out(href='#') Выход
				- } else {
				.enter-tolk.mfiA(data-url="hidden/enter-reg.php")
					span Вход в личный кабинет
				- }
				.shop-icons
					div
						a(href='#').compare
							.svgHolder
								svg: use(xlink:href="#compare")/
							span.total-cart-count 0
					div
						a(href='#').favorite
							i.svgHolder
								svg: use(xlink:href="#heart")/
							span.total-cart-count 0
					- if (fileAlias != 'cart') {
					div
						.basket.mfiA(data-url="hidden/cart_popup.php")
							.hid
								.svgHolder
									svg: use(xlink:href="#basket_icon")/
							span.total-cart-count 1
					- }
.top-line
	.wSize
		.pseudo-table.w_clearfix
			.col
				.top-menu
					.top-menu_link.js-dropdown
						span.svgHolder
							svg: use(xlink:href="#burger")/
						.show-all.white-text Все категории товаров
					.dropdown-menu.js-dropdown-menu
						include ../Widgets/wMenu
			.col
				a(href='#').white-text.promo-link
					.svgHolder
						svg: use(xlink:href="#promotions")/
					span Акции
				.search-box.wForm(data-form="true")
					.wFormRow
						.search-box_inputWrapper.wInput
							input(type='text',placeholder='Поиск',data-rule-minlength='2',required,name='search',data-rule-word="true")
							.wSubmit
						.search-box_selectWrapper
							select.select2
								option По всем категориям
								option Холодильники
								option Холодильники
								option Холодильники
								option Холодильники
			.col.w_flr
				a(href='#').white-text.delivery-link
					.svgHolder
						svg: use(xlink:href="#marker")/
					span Пункты выдачи
.main-categories
	.wSize
		.main-categories_category
			a(href='#',title='категория',style='background-image: url(pic/cookie.png)').icon-cookie
		.main-categories_category
			a(href='#',title='категория',style='background-image: url(pic/iron.png);').icon-iron
		.main-categories_category
			a(href='#',title='категория',style='background-image: url(pic/laptop.png);').icon-laptop
		.main-categories_category
			a(href='#',title='категория',style='background-image: url(pic/freezier.png);').icon-freezier
		.main-categories_category
			a(href='#',title='категория',style='background-image: url(pic/wash.png);').icon-wash
		.main-categories_category
			a(href='#',title='категория',style='background-image: url(pic/konditioneer.png);').icon-conditioner
		.main-categories_category
			a(href='#',title='категория',style='background-image: url(pic/boiler.png);').icon-boiler
		.main-categories_category
			a(href='#',title='категория',style='background-image: url(pic/kettke.png);').icon-kettle
		.main-categories_category
			a(href='#',title='категория',style='background-image: url(pic/multicook.png);').icon-multicook
		.main-categories_category
			a(href='#',title='категория',style='background-image: url(pic/tv.png);').icon-tv
		.main-categories_category
			a(href='#',title='категория',style='background-image: url(pic/phone.png);').icon-phone
		.main-categories_category
			a(href='#',title='категория',style='background-image: url(pic/camera.png);').icon-camera
		.main-categories_category
			a(href='#',title='категория',style='background-image: url(pic/tablet.png);').icon-tablet

.mobile-head
	.wSize.w_clearfix
		.w_fll
			.mobile-head_burger
				a.svgHolder(href='#mmenu')
					svg: use(xlink:href="#burger")/
			.mobile-head_search
				span.svgHolder
					svg: use(xlink:href="#magnifier")/
				.mobile-head_search-box.js-search
			- if(fileAlias == 'group') {
			.mobile-head_filter
				span.svgHolder
					svg: use(xlink:href="#filter")/
			- }
			#mmenu

		.w_flr
			.mobile-head_user
				span.svgHolder.mfiA(data-url="hidden/enter-reg.php")
					svg: use(xlink:href="#user_lk")/