﻿//- ++++++++++++++++++++++++++++++++++++++++
	Views/Widgets/wMenu.jade
	Wezom wTPL v4.0.0
//- ++++++++++++++++++++++++++++++++++++++++

nav.wMenu
	+menuList(LOCALS.topMenu, mainMenuPath, true)
// wMenu
= '\n'