﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Templates/Base.jade
	Базовый шаблон для основных типовых страниц

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

//- Конфигурация
include ../System/Config

//- Вспомогательные миксины
include ../System/Mixins

//- Разметка
doctype html
html.no-js(lang=fileLanguage dir="ltr")
	head
		include ../Widgets/Head

	body&attributes(bodyAttr)
		.mobile-filter
		//- seoSet()
		if seoSet
			include ../Widgets/SeoText

		//- доп. блокgulp
		block topBlock
		.wWrapper

			block wHeader
				include ../Widgets/wHeader
			// .wHeader 

			.wContainer
				block wContainer
				// .wConteiner 
				if seoSet
					.wSize
						#cloneSeo

			block wFooter
				include ../Widgets/wFooter
			// .wFooter

		//- Системный подвал
		include ../Widgets/PageBottom
