﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	System/Changelog.jade

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

.wSize
	.wTxt.w_block
		h4 wTPL v#{LOCALS.version}
		p #[strong: em В первую очередь читай документацию] - #[a(href="http://verstka.vps.kherson.ua/wtpl.html", target="_blank") ЗДЕСЬ]
		h5 changelog шаблона
		p: a(href="https://bitbucket.org/wezom/jade-template/overview#markdown-header-changelog", target="_blank", title="changelog шаблона") https://bitbucket.org/wezom/jade-template/overview
		h5 Список страниц
		ul
			each file, i in LOCALS.files
				li: a(href=file.link, title=file.title): =file.name
		h5 QA Шпаргалки
		ul
			li #[a(href="https://docs.google.com/spreadsheets/d/1apO0jw4AYDipH4n-Dbq27a_HEBO7pOTn6oUUvSyYMi8/edit" target="_blank" title="Стандарт валидации.xlsx") Стандарт валидации.xlsx]
			li #[a(href="https://docs.google.com/spreadsheets/d/13fdMtQrjlCSOrPkrVrIyWpvLzPyJL6QoXPhTP1fGNNs/edit#gid=1267548074&vpid=A1" target="_blank" title="чек-лист верстальщиков") чек-лист верстальщиков "проверь себя сам"]
		h5 Тест валидации
		ul
			li #[a(href="_project_valid/css/_csslint-report.html", target="_blank") valid-css]
			li #[a(href="_project_valid/html/", target="_blank") valid-html]
			li #[a(href="_project_valid/js/_jshint-report.html", target="_blank") valid-js]
