/*-------------------------------  compare  ------------------------------------*/

.compareSection {
	//padding: 30px 0;
}

.compareWrapp {
	position: relative;
	background-color: #fff;
}

.compareInset:after {
	content: '';
	top: 20px;
	right: 0;
	z-index: 10;
	width: 10px;
	height: 100%;
	height: calc(100% - 57px);
	position: absolute;
}

.compareControls > {
	.fll {
		margin-right: 10px;
	}
	.flr {
		margin-left: 10px;
	}
}

.compareNoSupport, .compareCleared {
	display: none;
	background: #f4f5f7;
	padding: 30px;
	margin: 20px 0;
	font-family: "Segoe UI", sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.compareHold {
	margin-top: 20px;
	padding: 0 0 17px 246px;
	overflow: auto;
}

.compareInset .compareHold {
	padding-bottom: 0;
}

.compareHold:after {
	content: '';
	top: 0;
	right: 0;
	width: 1px;
	background: #eee;
	height: calc(100% - 57px);
}

.ellipsis {
	position: relative;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
	line-height: 24px;
	font-family: "Segoe UI", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #626262;
}

.compareTable {
	.ellipsis {
		cursor: default;
	}
	overflow-x: scroll;
	overflow-y: hidden;
	margin: 0 0 20px;
	width: auto;
	border-collapse: collapse;
	border-spacing: 0;
}



.cellHold {
	width: 246px;
	position: relative;
	z-index: 1;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: black;
	font-family: "Segoe UI",sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	&:after {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}
}

.compareTable {
	tr {
		text-align: left;
		&:nth-child(even) {
			td {
				background: #f4f5f7;
			}
		}
		&:nth-child(odd) {
			td {
				background: #fff;
			}
		}
	}
	td {
		margin: 0;
		border-left: 1px solid #e1e1e1;
		border-right: 1px solid #e1e1e1;
		text-align: center;
		+ td {
			border-top-width: 0;
			border-bottom-width: 0;
			width: 247px !important;
			max-width: 247px !important;
			.list-item{
				width: 247px;
				box-sizing: border-box;
			}
		}
	}
	th:first-child {
		position: absolute;
		z-index: 5;
		left: 0;
	}
	td {
		&:first-child {
			position: absolute;
			z-index: 5;
			left: 0;
			border-left: none;
			text-align: left;
			> .cellHold {
				width: 246px;
				padding-left: 20px;
				box-sizing: border-box;
			}
		}
		&:last-child {
			border-right: none;
		}
		&:last-child > .cellHold {
			margin-right: 10px;
		}
	}
	tr {
		&:first-child td:first-child {
			border-right-color: #fff;
			height: calc(100% - 58px);
		}
		td:first-child {
			border-width: 0;
			border-left-width: 1px;
		}
		&:first-child td:first-child {
			&:after {
				content: '';
				top: 0px;
				left: 100%;
				width: 10px;
				height: 100%;
				position: absolute;
			}
			> .cellHold {
				border-bottom-color: transparent;
			}
		}
		+ tr:hover td:first-child .cellHold {
			//background-color: rgba(0, 0, 0, 0.05);
		}
	}

}


.compareEmpty {
	.compareWrapp:after, .toggleMisMath, .clearCompare {
		display: none;
	}
	.compareCleared {
		display: block;
	}
}


.compareMismath .mismath .cellHold:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #bacbe7;
	z-index: -1;
}

.compareTable {
	.highlight, tr + tr:hover {
		td {
			background-color: #cdd7e7;
		}
	}
}


@media print {
	.compareTable, .compareHold {
		overflow: visible;
	}
	.compareHead {
		display: none;
	}
	.compareWrapp {
		border: none;
		margin: 0;
	}
	.compareHold {
		padding-left: 272px;
	}
	.wHeader,.wFooter,.top-line,.main-categories,.mobile-head,.mobile-filter,.breads,.friends,.item-ajax-tabs,.favorites-block,.tit{
		display: none !important;
	}
	.wContainer{
		padding: 0 !important;
	}
	.lk-block_inside{
		padding: 0 !important;
		margin-bottom: 0 !important;
		border:none !important;
	}
	.breads{
		+ .wSize {
			overflow: hidden;
		}
	}
	.wSize{
		margin: 0 !important;
		max-width: none !important;
	}
	.list-item_buttons{
		display: none;
	}
	* {
		overflow: visible !important;
	}
	.cellHold{
		overflow: hidden !important;
	}
	.compareHold{
		padding-left: 262px;
	}
	.compareTable tr td:first-child .cellHold{
		margin-left: -252px;
	}
}