@import "../_config";
.breadcrumbs {
    width: 100%;
    display: table;
    font-size: 0;
    line-height: 0;
    > span {
        display: inline-block;
        vertical-align: top;
		color: #545454;
        font-family: "Segoe UI",sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 27px;
        margin-right: 2px;
        &:after {
            content: '>';
            display: inline-block;
            vertical-align: top;
            margin-left: 2px;
        }
		&:last-child{
			color: #2678a3;
		}
        &:first-child{
            font-size: 0;
            background: url(../pic/bread.png) 0 50% no-repeat;
            width: 26px;
            height: 27px;
			margin-right: 6px;
            a{
                display: block;
            }
        }
        &:first-child:after {
            display: none;
        }
        &:last-child:after {
            display: none;
        }
        > a {
            text-decoration: none;
			color: #545454;
			&:hover{
				text-decoration: underline;
			}
        }
    }
}
