@import '../_config';
/*
    error.css
    Wezom wTPL v4.0.0
*/

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/SEGOEUI.woff2') format('woff2'),
	url('../fonts/SEGOEUI.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

a{
	color: #2678a3;
	&:hover{
		text-decoration: none;
	}
}

html,body{
	height: 100%;
	margin: 0;
	font-family: "Segoe UI",sans-serif;
}
.errorPage {
    overflow-x: hidden;
}
.errorWrapper {
    display: table;
    width: 100%;
    min-height: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
	background: #f4f5f7;
}
.no-moz .errorWrapper {
    height: auto !important;
}

.errorHolder {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.errorContent {
    display: block;
    max-width: 640px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    .wTxt {
        text-align: center;
    }
}

.errorHeader {
    @extend %color;
    display: inline-block;
    vertical-align: top;
    font-size: 180px;
    line-height: 0.9em;
	overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 130%;
        left: -15%;
        bottom: 0;
        height: 20%;
        filter: blur(4px);
        opacity: .5;
        background: -moz-radial-gradient(center, ellipse cover,  $colorMiddle 0%, rgba($colorMiddle,0) 60%);
        background: -webkit-radial-gradient(center, ellipse cover,  $colorMiddle 0%,rgba($colorMiddle,0) 60%);
        background: radial-gradient(ellipse at center,  $colorMiddle 0%,rgba($colorMiddle,0) 60%);
    }
}
%color {
    color: $colorDark;
}

.svgHolder {
	position: relative;
	& > svg {
		@include HVcenter(100%, 100%);
	}
}

.rss-socials{
	&_social{
		margin-top: 15px;
		span{
			font-size: 14px;
			font-weight: 400;
			color: #717273;
			line-height: 1;
			display: inline-block;
			vertical-align: middle;
			margin-right: 14px;
		}
	}
	&_icons{
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		a{
			margin-right: 8px;
			&:last-child{
				margin-right: 0;
			}
			&:hover{
				opacity: 0.8;
			}
		}
	}
}

.logo{
	display: block;
	margin-bottom: 5px;
	font-size: 0;
	&__icon{
		width: 89px;
		height: 89px;
		display: inline-block;
		vertical-align: bottom;
		margin-right: 7px;
		margin-left: -3px;
		.svgHolder{
			width: 100%;
			height: 100%;
			display: block;
			fill:#1088a0;
		}
	}
	&__name{
		line-height: 1;
	}
	&__text{
		display: inline-block;
		vertical-align: bottom;
	}
	&__desc{
		color: #535353;
		font-family: "Segoe UI",sans-serif;
		font-size: 15px;
		font-weight: 400;
		line-height: 1;
		margin-top: 5px;
	}
}

@media only screen and (max-width: 720px) {
    .errorHeader {
        font-size: 150px;
    }
}
@media only screen and (max-width: 480px) {
    .errorHeader {
        font-size: 100px;
    }
}

@media screen and (max-width: 400px){
	.logo{
		&__icon{
			width: 70px;
			height: 70px;
		}
		&__name{
			height: 32px;
			img{
				height: 100%;
			}
		}
		&__desc{
			font-size: 12px;
			text-align: left;
			span{
				margin: 0;
				padding: 0;
			}
		}
	}
}
