.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_url_input'
		-elementLabel = 'URL *'
		-
			var attrs = {
				required: true,
				type: 'url',
				name: elementName,
				id: elementName,
				placeholder: 'Ваш сайт',
				'data-rule-url': 'true'
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption URL вашего сайта!
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс