.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_maxlength_input'
		-elementLabel = 'Input Max Length *'
		-elementMaxlength = 4
		-
			var attrs = {
				required: true,
				type: 'text',
				name: elementName,
				id: elementName,
				placeholder: 'Ваш текст',
				'data-rule-maxlength': elementMaxlength
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Максимальное количество символов - #{elementMaxlength}
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow
		-elementName = 'demo_maxlength_textarea'
		-elementLabel = 'Textarea Max Length *'
		-elementMaxlength = 10
		-
			var attrs = {
				required: true,
				name: elementName,
				id: elementName,
				placeholder: 'Ваш комментарий',
				'data-rule-maxlength': elementMaxlength
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Максимальное количество символов - #{elementMaxlength}
		.wFormInput
			textarea.wTextarea&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow
		-elementName = 'demo_maxlength_select'
		-elementLabel = 'Select Max Length *'
		-elementMaxlength = 2
		-
			var attrs = {
				required: true,
				multiple: true,
				size: 4,
				name: elementName,
				id: elementName,
				'data-rule-maxlength': elementMaxlength
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Выберите максимум #{elementMaxlength} пункта!
		.wFormInput
			select.wSelect&attributes(attrs)
				option(value='1') Пункт для выбора - 1
				option(value='2') Пункт для выбора - 2
				option(value='3') Пункт для выбора - 3
				option(value='4') Пункт для выбора - 4

	.wFormRow
		-elementName = 'demo_maxlength_checkbox'
		-elementLabel = 'Checkbox Max Length *'
		-elementMaxlength = 2
		-
			var attrs = {
				required: true,
				type: 'checkbox',
				name: elementName,
				'data-rule-maxlength': elementMaxlength
			}
		.wLabel= elementLabel
		.wCaption Выберите максимум #{elementMaxlength} параметра!

		-elementValue = 1
		-customBG = false
		block wCheckMaxLength
			label.wCheck
				input.wInput&attributes(attrs)(value=elementValue)
				if customBG
					ins(style='background-color:'+customBG+';') &nbsp;
				else
					ins &nbsp;
				span CheckBox #{elementValue}
				
		-delete attrs['data-rule-maxlength']
		-attrs.required = false
		-elementValue = 2
		-customBG = '#01A701'
		block wCheckMaxLength

		-elementValue = 3
		-customBG = '#00f'
		block wCheckMaxLength

		-elementValue = 4
		-customBG = '#f0f'
		block wCheckMaxLength

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс