.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-var elementName = 'demo_required_input'
		-var elementLabel = 'Input Text *'
		-
			var attrs = {
				required: true,
				type: 'text',
				name: elementName,
				id: elementName,
				placeholder: 'Ваш текст'
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Это поле необходимо заполнить!
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow
		-elementName = 'demo_required_select'
		-elementLabel = 'Select *'
		-
			var attrs = {
				required: true,
				name: elementName,
				id: elementName
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Этот параметр - обязателен!
		.wFormInput
			select.wSelect&attributes(attrs)
				option(value='', selected, disabled) Выберите пункт
				option(value='1') Пункт для выбора - 1
				option(value='2') Пункт для выбора - 2
				option(value='3') Пункт для выбора - 3
				option(value='4') Пункт для выбора - 4

	.wFormRow
		-elementName = 'demo_required_checkbox'
		-elementLabel = 'Checkbox *'
		-
			var attrs = {
				required: true,
				type: 'checkbox',
				name: elementName
			}
		.wLabel= elementLabel
		.wCaption Этот параметр - обязателен!
		label.wCheck
			input.wInput&attributes(attrs)
			ins &nbsp;
			span Я согласен с условиями использования и обработку моих персональных данных

	.wFormRow
		-elementName = 'demo_required_radio'
		-elementLabel = 'Radio *'
		-
			var attrs = {
				required: true,
				type: 'radio',
				name: elementName
			}
		.wLabel= elementLabel
		.wCaption Этот параметр - обязателен!
		
		-customBG = false
		block requiredRadio
			label.wRadio
				input.wInput&attributes(attrs)
				if customBG
					ins(style='background-color:'+customBG+';') &nbsp;
				else
					ins &nbsp;
				span Radio input
		-attrs.required = false
		-customBG = '#01A701'
		block requiredRadio

		-customBG = '#00f'
		block requiredRadio

		-customBG = '#f0f'
		block requiredRadio

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс


.pageTitle.w_small make required если...

.wForm.wFormDef.wFormPreloader.w_block(data-form="true")

	.wFormRow
		-elementName = 'demo_required_if_checkbox'
		-elementLabel = 'Make Required if :checked'
		-
			var attrs = {
				type: 'checkbox',
				name: elementName,
				id: elementName
			}
		.wLabel= elementLabel
		.wCaption Этот параметр - сделает обязательным к заполнению поле комментария!
		label.wCheck
			input.wInput&attributes(attrs)
			ins &nbsp;
			span Да, я хочу оставить комментарий!

		-elementReuired = '#'+elementName+':checked'
		-elementName = elementName+'_checked'
		-
			var attrs = {
				name: elementName,
				id: elementName,
				placeholder: 'Ваш комментарий',
				'data-rule-required': elementReuired
			}
		.wFormInput
			textarea.wTextarea&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow
		-elementName = 'demo_required_if_input'
		-elementLabel = 'Make Required if :filled'
		-elementMinlength = 4
		-
			var attrs = {
				type: 'text',
				name: elementName,
				id: elementName,
				placeholder: 'Введите минимум '+elementMinlength+' символа',
				'data-rule-minlength': elementMinlength
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Заполните это поле согласно правилу валидации, чтобы комментарий стал обязательным!
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

		-elementReuired = '#'+elementName+':filled'
		-elementName = elementName+'_filled'
		-
			var attrs = {
				name: elementName,
				id: elementName,
				placeholder: 'Ваш комментарий',
				'data-rule-required': elementReuired
			}
		.wFormInput
			textarea.wTextarea&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow
		-elementName = 'demo_required_if_button'
		-elementLabel = 'Make Required if :visible'
		label.wLabel(for=elementName)= elementLabel
		.wCaption Сделайте элемент видимым, чтобы комментарий стал обязательным!
		.wFormInput
			button.wBtn.w_info(onclick="$(this).next().stop().slideToggle(200);") Показать / Скрыть
			button.wBtn.w_primary(id=elementName, style="display:none;") Связаный элемент

		-elementReuired = '#'+elementName+':visible'
		-elementName = elementName+'_visible'
		-
			var attrs = {
				name: elementName,
				id: elementName,
				placeholder: 'Ваш комментарий',
				'data-rule-required': elementReuired
			}
		.wFormInput
			textarea.wTextarea&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс