.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_pattern_input'
		-elementLabel = 'Pattern *'
		-elementPattern = '[0-9]{3}'
		-
			var attrs = {
				required: true,
				type: 'text',
				name: elementName,
				id: elementName,
				placeholder: elementPattern,
				'data-rule-pattern': elementPattern,
				'data-msg-pattern': 'Укажите 3 цифры'
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Задайте значение по маске #{elementPattern} #[br/] читай #[a(href="http://htmlbook.ru/html/input/pattern", target="_blank") Атрибут pattern]
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс