-
	var demoNav = [
		'required', 'digits', 'number', 'min', 'max', 'range',
		'minlength', 'maxlength', 'rangelength', 'filetype', 'filesize', 'filesizeEach',
		'password', 'equalTo', 'url', 'email', 'word', 'login', 'phoneUA', 'or', 'pattern', 'remote'
	];
mixin wForm_demoNav(active)
	div.wTxt
		h3(id="wForm_demo_"+active)= active
		p
			for link in demoNav
				if link == active
					| #[code #{link}], 
				else
					| #[a(href="#wForm_demo_"+link) #{link}], 