.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_rangelength_input'
		-elementLabel = 'Input Range Length *'
		-elementRangelength = [4, 10]
		-
			var attrs = {
				required: true,
				type: 'text',
				name: elementName,
				id: elementName,
				placeholder: 'Ваш текст',
				'data-rule-rangelength': elementRangelength
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Диапазон количества допустимых символов - от #{elementRangelength[0]} до #{elementRangelength[1]}!
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow
		-elementName = 'demo_rangelength_textarea'
		-elementLabel = 'Textarea Range Length *'
		-elementRangelength = [4, 10]
		-
			var attrs = {
				required: true,
				name: elementName,
				id: elementName,
				placeholder: 'Ваш комментарий',
				'data-rule-rangelength': elementRangelength
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Диапазон количества допустимых символов - от #{elementRangelength[0]} до #{elementRangelength[1]}!
		.wFormInput
			textarea.wTextarea&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow
		-elementName = 'demo_rangelength_select'
		-elementLabel = 'Select Range Length *'
		-elementRangelength = [2,3]
		-
			var attrs = {
				required: true,
				multiple: true,
				size: 4,
				name: elementName,
				id: elementName,
				'data-rule-rangelength': elementRangelength
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Диапазон количества допустимых пунктов - от #{elementRangelength[0]} до #{elementRangelength[1]}!
		.wFormInput
			select.wSelect&attributes(attrs)
				option(value='1') Пункт для выбора - 1
				option(value='2') Пункт для выбора - 2
				option(value='3') Пункт для выбора - 3
				option(value='4') Пункт для выбора - 4

	.wFormRow
		-elementName = 'demo_rangelength_checkbox'
		-elementLabel = 'Checkbox Range Length *'
		-elementRangelength = [2,3]
		-
			var attrs = {
				required: true,
				type: 'checkbox',
				name: elementName,
				'data-rule-rangelength': elementRangelength
			}
		.wLabel= elementLabel
		.wCaption Диапазон количества допустимых параметров - от #{elementRangelength[0]} до #{elementRangelength[1]}!

		-elementValue = 1
		-customBG = false
		block wCheckRangeLength
			label.wCheck
				input.wInput&attributes(attrs)(value=elementValue)
				if customBG
					ins(style='background-color:'+customBG+';') &nbsp;
				else
					ins &nbsp;
				span CheckBox #{elementValue}
				
		-delete attrs['data-rule-rangelength']
		-attrs.required = false
		-elementValue = 2
		-customBG = '#01A701'
		block wCheckRangeLength

		-elementValue = 3
		-customBG = '#00f'
		block wCheckRangeLength

		-elementValue = 4
		-customBG = '#f0f'
		block wCheckRangeLength

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс