.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_equalTo_password'
		-elementLabel = 'Password *'
		-elementType = 'password'
		-elementPlaceholder = 'Ваш новый пароль'
		-
			var attrs = {
				required: true,
				type: 'password',
				name: elementName,
				id: elementName,
				placeholder: 'Ваш новый пароль',
				'data-rule-password': 'true'
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Новый пароль!
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow
		-elementEqual = '#'+elementName
		-elementName = elementName+'_to'
		-elementLabel = 'Password equalTo *'
		-
			var attrs = {
				required: true,
				type: 'password',
				name: elementName,
				id: elementName,
				placeholder: 'Повторите ваш новый пароль',
				'data-rule-password': 'true',
				'data-rule-equalTo': elementEqual
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Повторите пароль!
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс