.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_file_single_filetype'
		-elementLabel = 'File Type Single *'
		-elementFileType = 'png|gif'
		-textNotSelect = 'Ничего не выбрано'
		-textSelect = 'Выбрано: <ins>%files</ins>'
		-
			var attrs = {
				required: true,
				type: 'file',
				name: elementName,
				id: elementName,
				'data-rule-filetype': elementFileType
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Допустимые расширения файлов: png, gif!
		.wFormInput
			input.wFile&attributes(attrs)
			label.wInput.wFileVal(for=elementName, data-label-text='["'+textNotSelect+'", "'+textSelect+'"]'): span= textNotSelect
			
	.wFormRow
		-elementName = 'demo_file_multiple_filetype'
		-elementLabel = 'File Type Multiple *'
		-textSelect = 'Выбрано файлов - %count: <ins>(%files)</ins>'
		-
			var attrs = {
				required: true,
				multiple: true,
				type: 'file',
				name: elementName,
				id: elementName,
				'data-rule-filetype': elementFileType
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Допустимые расширения файлов: png, gif!
		.wFormInput
			input.wFile&attributes(attrs)
			label.wInput.wFileVal(for=elementName, data-label-text='["'+textNotSelect+'", "'+textSelect+'"]'): span= textNotSelect

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс