.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementLabel = 'Email or Phone *'
		-elementName = 'demo_email_or_phone'
		-classOr = 'email_or_phone'
		-
			var attrs = {
				required: false,
				class: classOr,
				type: 'email',
				name: elementName,
				id: elementName,
				placeholder: 'Ваш email',
				'data-rule-email': 'true',
				'data-rule-or': classOr,
				'data-msg-or': 'Введите e-mail или номер телефона.',
				'data-msg-required': 'Введите номер телефона или e-mail.'
			}

		label.wLabel(for=elementName)= elementLabel
		.wCaption Ваш email!
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow
		-elementLabel = 'Phone or Email *'
		-elementName = 'demo_phone_or_email'
		-
			var attrs = {
				required: false,
				class: classOr,
				type: 'tel',
				name: elementName,
				id: elementName,
				placeholder: 'Ваш телефон',
				'data-rule-phoneUA': 'true',
				'data-rule-or': classOr,
				'data-msg-or': 'Введите номер телефона или e-mail.',
				'data-msg-required': 'Введите номер телефона или e-mail.'
			}

		label.wLabel(for=elementName)= elementLabel
		.wCaption Ваш телефон!
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс