.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_minlength_input'
		-elementLabel = 'Input Min Length *'
		-elementMinlength = 4
		-
			var attrs = {
				required: true,
				type: 'text',
				name: elementName,
				id: elementName,
				placeholder: 'Ваш текст',
				'data-rule-minlength': elementMinlength
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Минимальное количество символов - #{elementMinlength}
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow
		-elementName = 'demo_minlength_textarea'
		-elementLabel = 'Textarea Min Length *'
		-elementMinlength = 10
		-
			var attrs = {
				required: true,
				name: elementName,
				id: elementName,
				placeholder: 'Ваш комментарий',
				'data-rule-minlength': elementMinlength
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Минимальное количество символов - #{elementMinlength}
		.wFormInput
			textarea.wTextarea&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow
		-elementName = 'demo_minlength_select'
		-elementLabel = 'Select Min Length *'
		-elementMinlength = 2
		-
			var attrs = {
				required: true,
				multiple: true,
				size: 4,
				name: elementName,
				id: elementName,
				'data-rule-minlength': elementMinlength
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Выберите минимум #{elementMinlength} пункта!
		.wFormInput
			select.wSelect&attributes(attrs)
				option(value='1') Пункт для выбора - 1
				option(value='2') Пункт для выбора - 2
				option(value='3') Пункт для выбора - 3
				option(value='4') Пункт для выбора - 4

	.wFormRow
		-elementName = 'demo_minlength_checkbox'
		-elementLabel = 'Checkbox Min Length *'
		-elementMinlength = 2
		-
			var attrs = {
				required: true,
				type: 'checkbox',
				name: elementName,
				'data-rule-minlength': elementMinlength
			}
		.wLabel= elementLabel
		.wCaption Выберите минимум #{elementMinlength} параметра!

		-elementValue = 1
		-customBG = false
		block wCheckMinLength
			label.wCheck
				input.wInput&attributes(attrs)(value=elementValue)
				if customBG
					ins(style='background-color:'+customBG+';') &nbsp;
				else
					ins &nbsp;
				span CheckBox #{elementValue}
				
		-delete attrs['data-rule-minlength']
		-attrs.required = false
		-elementValue = 2
		-customBG = '#01A701'
		block wCheckMinLength

		-elementValue = 3
		-customBG = '#00f'
		block wCheckMinLength

		-elementValue = 4
		-customBG = '#f0f'
		block wCheckMinLength

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс