.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_phoneua_input'
		-elementLabel = 'Phone ua *'
		-
			var attrs = {
				required: true,
				type: 'tel',
				name: elementName,
				id: elementName,
				placeholder: 'Телефон укр. формата',
				'data-rule-phoneUA': 'true'
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Телефон UA - #[a(href="https://docs.google.com/document/d/12DSU2wcAbohM_lmRHOe1JvHE1Lwb8So4NkjMkOqMdvQ/edit", target="_blank") телефоны валидация] (авт. Алексей Гринько)
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo(for=elementName)= elementLabel

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс