.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_email_input'
		-elementLabel = 'Email *'
		-
			var attrs = {
				required: true,
				type: 'email',
				name: elementName,
				id: elementName,
				placeholder: 'Ваш email',
				'data-rule-email': 'true'
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Ваш email!
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс