.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_file_single_filesizeEach'
		-elementLabel = 'File SizeEach Single *'
		-elementFilesizeEach = '150'
		-textNotSelect = 'Ничего не выбрано'
		-
			var attrs = {
				required: true,
				type: 'file',
				name: elementName,
				id: elementName,
				'data-rule-filesizeEach': elementFilesizeEach
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Максимальный объем файла - #{elementFilesizeEach}KB!
		.wFormInput
			input.wFile&attributes(attrs)
			label.wInput.wFileVal(for=elementName): span= textNotSelect
			
	.wFormRow
		-elementName = 'demo_file_multiple_filesizeEach'
		-elementLabel = 'File SizeEach Multiple *'
		-
			var attrs = {
				required: true,
				multiple: true,
				type: 'file',
				name: elementName,
				id: elementName,
				'data-rule-filesizeEach': elementFilesizeEach
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Максимальный объем каждого файла - #{elementFilesizeEach}KB!
		.wFormInput
			input.wFile&attributes(attrs)
			label.wInput.wFileVal(for=elementName): span= textNotSelect

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс