.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_range_input'
		-elementLabel = 'Range Input Value *'
		-elementRange = [-5, 30]
		-
			var attrs = {
				required: true,
				type: 'tel',
				name: elementName,
				id: elementName,
				placeholder: 'Ваше число',
				'data-rule-range': elementRange
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Диапазог допустимого значения от #{elementRange[0]} до #{elementRange[1]}!
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow
		-elementName = 'demo_range_select'
		-elementLabel = 'Range Select Value *'
		-elementRange = [20,40]
		-
			var attrs = {
				required: true,
				name: elementName,
				id: elementName,
				'data-rule-range': elementRange
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Диапазог допустимого значения от #{elementRange[0]} до #{elementRange[1]}!
		.wFormInput
			select.wSelect&attributes(attrs)
				option(value='10') Value - 10
				option(value='20') Value - 20
				option(value='30') Value - 30
				option(value='40') Value - 40
				option(value='50') Value - 50

	.wFormRow
		-elementName = 'demo_range_radio'
		-elementLabel = 'Range Radio Value *'
		-elementRange = [20,40]
		-
			var attrs = {
				required: true,
				type: 'radio',
				name: elementName,
				'data-rule-range': elementRange
			}
		.wLabel= elementLabel
		.wCaption Диапазог допустимого значения от #{elementRange[0]} до #{elementRange[1]}!

		-elementValue = 10
		-customBG = false
		block wRadioRange
			label.wRadio
				input.wInput&attributes(attrs)(value=elementValue)
				if customBG
					ins(style='background-color:'+customBG+';') &nbsp;
				else
					ins &nbsp;
				span Radio Value #{elementValue}
				
		-delete attrs['data-rule-range']
		-attrs.required = false
		-elementValue = 20
		-customBG = '#01A701'
		block wRadioRange

		-elementValue = 30
		-customBG = '#00f'
		block wRadioRange

		-elementValue = 40
		-customBG = '#f0f'
		block wRadioRange

		-elementValue = 50
		-customBG = '#3c3'
		block wRadioRange

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс