.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_word_input'
		-elementLabel = 'Word *'
		-
			var attrs = {
				required: true,
				type: 'text',
				name: elementName,
				id: elementName,
				placeholder: 'ФИО',
				'data-rule-word': 'true'
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption ФИО не должно содержать цыфры, знаки препинания и спец. символы!
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс