.mfiModal.zoomAnim.popup-style.max-width-965#basket
	.popup-style_header
		.popup-style_logo
			span.svgHolder
				svg: use(xlink:href="#logo")/
		.popup-style_title.small Ваш заказ в магазине “ekonomia.com.ua”
	div.popup-cart.magnific
			.popup-cart_item.w_clearfix
				.popup-cart_item_img
					a(href='#')
						img(src='images/wash-item.jpg')
				.popup-cart_item_cener
					.popup-cart_item_title
						a(href='#') LED-телевизор SAMSUNG UE32J5500AUXUA
					.popup-cart_item_countPrice 1 шт. х&nbsp;
						i 343
						| грн.
					.popup-cart_item_pricetel
						span 34
						| &nbsp;грн
				.popup-cart_item_price
					span 343
					| &nbsp;грн
				.popup-cart_item_count
					.popup-cart_item_dec.js-change-count(data-id="",data-delta="-1")
					.popup-cart_item_input
						input(type='tel',value='1',maxlength=2,onkeypress='return event.charCode >= 48 && event.charCode <= 57').js-count
					.popup-cart_item_inc.js-change-count(data-id="",data-delta="1")
					.popup-cart_item_remove
						span.call-popupLink.js-remove-from-cart(data-id="") удалить товар
	.footer-popup-basket.w_clearfix
		.w_fll
			span.call-popupLink Купить еще что-нибудь в магазине
		.w_flr
			.footer-popup-basket_total
				span Итого:
				b
					span 0
					| &nbsp;грн
			a.gradient-button(href='/_HTML/dist/step2.html') Оформить
