#enterReg.enterRegPopup.zoomAnim.popup-style
	.popup-style_header
		.popup-style_logo
			span.svgHolder
				svg: use(xlink:href="#logo")/
		.popup-style_title Вход в интернет-магазин ekonomia.com.ua
	.popup-style_main
		.enterReg_top
			.popupBlock.enterBlock.wCur
				.erTitle Вход
				.popupContent
					#entrForm.enterBlock_form.visForm.wForm.wFormDef(data-form="true", data-ajax="wForm-demo-submit.php")
						.wFormRow
							input(type='email', name='enter_email', data-msg-required='Это поле необходимо заполнить', data-msg-email='Пожалуйста, введите корректный Email', placeholder='Ваш e-mail*', required='')
							.inpInfo E-mail
						.wFormRow
							input(type='password', name='enter_pass', data-msg-required='Это поле необходимо заполнить', data-msg-minlength='Пожалуйста, введите не меньше 4 символов', data-rule-minlength='4', placeholder='Ваш пароль*', required='')
							.inpInfo Пароль
						.height-style
							label.checkBlock
								input(type='checkbox', checked='checked')
								ins
								span Запомнить данные
							#forget_pass.passLink.call-popupLink Забыли пароль?

						.tar
							button.wSubmit.gradient-button Войти
					#forgetForm.enterBlock_form.wForm.wFormDef(data-form="true", data-ajax="wForm-demo-submit.php")
						.wFormRow
							input(type='email', name='forget_email', data-msg-required='Это поле необходимо заполнить', data-msg-email='Пожалуйста, введите корректный Email', placeholder='E-mail*', required='')
							.inpInfo E-mail
						.forgetInf
							| После отправления, в течении 5 минут к Вам на почту придут инструкции по восстановлению пароля.
						#remember_pass.passLink.call-popupLink Вернуться
						.tar
							button.wSubmit.gradient-button Отправить
			.popupBlock.regBlock.wForm.wFormDef(data-form="true", data-ajax="wForm-demo-submit.php")
				.erTitle Регистрация
				.popupContent
					.wFormRow
						input(type='email', name='reg_email', data-msg-required='Это поле необходимо заполнить', data-msg-email='Пожалуйста, введите корректный Email', placeholder='Ваш e-mail*', required='')
						.inpInfo E-mail
					.wFormRow
						input(type='password', name='reg_pass', data-msg-required='Это поле необходимо заполнить', data-msg-minlength='Пожалуйста, введите не меньше 4 символов', data-rule-minlength='4', placeholder='Ваш пароль*', required='')
						.inpInfo Пароль
					label.checkBlock
						input(type='checkbox', name='reg_agree', data-msg-required='Это поле нужно отметить', required='')
						ins
						span Я согласен с условиями использования и обработку моих персональных данных*
					.tar
						button.wSubmit.gradient-button Зарегистрироваться
	.popupBlock.socEnter
		.erTitle Вход через социальные сети
		.popupContent.socLinkEnter
			button.eVk(title='Вконтакте')
			button.eOd(title='Одноклассники')
			button.eFb(title='Facebook')
			button.eTw(title='Twitter')
			button.eGp(title='Google +')