﻿.mfiModal.zoomAnim.popup-style.max-width-425
	.popup-style_header
		.popup-style_logo
			span.svgHolder
				svg: use(xlink:href="#logo")/
		.popup-style_title Сообщить о наличии
	.popup-style_main
		.popup-style_desc
			span Наш менеджер свяжется с Вами, когда товар появится к наличии.
		.wForm.wFormDef.wFormPreloader(data-form="true", data-ajax="wForm-demo-submit.php")
			.wFormRow
				-elementName = 'demo_word_input'
				-elementLabel = 'Ваше имя *'
				-
					var attrs = {
					required: true,
					type: 'text',
					name: elementName,
					id: elementName,
					placeholder: 'Ваше имя',
					'data-rule-word': 'true'
					}
				.wFormInput
					input.wInput&attributes(attrs)
					.inpInfo= elementLabel

			.wFormRow
				-elementName = 'demo_callback'
				-elementLabel = 'Телефон *'
				-
					var attrs = {
					required: true,
					type: 'tel',
					name: elementName,
					id: elementName,
					placeholder: 'Ваш номер телефона',
					'data-rule-phoneUA': 'true',
					class:'phone-mask'
					}
			.wFormInput
				input.wInput&attributes(attrs)
				.inpInfo(for=elementName)= elementLabel

			input(type='hidden',value='',name='id_item')
			.wFormRow.w_last
				button.wSubmit.gradient-button Отправить