﻿.mfiModal.zoomAnim.popup-style.max-width-425
	.popup-style_header
		.popup-style_logo
			span.svgHolder
				svg: use(xlink:href="#logo")/
		.popup-style_title Сообщить о наличии
	.popup-style_main
		.popup-style_desc
			span Наш менеджер свяжется с Вами, когда товар появится к наличии.