﻿.mfiModal.zoomAnim.popup-style.max-width-425
	.popup-style_header
		.popup-style_logo
			span.svgHolder
				svg: use(xlink:href="#logo")/
		.popup-style_title Заказать в один клик
	.popup-style_main
		.popup-style_desc
			span Введите номер телефона. Наш менеджер свяжется с Вами для оформления заказа.
		.wForm.wFormDef.wFormPreloader(data-form="true")
			.wFormRow
				-elementName = 'demo_callback'
				-elementLabel = 'Телефон *'
				-
					var attrs = {
						required: true,
						type: 'tel',
						name: elementName,
						id: elementName,
						placeholder: 'Ваш номер телефона',
						'data-rule-phoneUA': 'true',
						class:'phone-mask'
					}
				.wFormInput
					input.wInput&attributes(attrs)
					.inpInfo(for=elementName)= elementLabel
			input(type='hidden',value='',name='id_item')
			.wFormRow.w_last
				button.wSubmit.gradient-button Отправить