﻿.mfiModal.zoomAnim.popup-style.max-width-425.promocode-popup
	.popup-style_header
		.popup-style_logo
			span.svgHolder
				svg: use(xlink:href="#logo")/
		.popup-style_title Ввод промокода
	.popup-style_main
		.popup-style_desc
			span Введите номер промокода и получите скидку на заказ.
		.wForm.wFormDef(data-form="true",data-not-ajax='true')
			.wFormRow
				-elementName = 'promocode'
				-elementLabel = 'Промокод *'
				-
					var attrs = {
						required: true,
						type: 'text',
						name: elementName,
						id: elementName,
						placeholder: 'Промокод'
					}
				.wFormInput
					input.wInput&attributes(attrs)
					.inpInfo(for=elementName)= elementLabel

			.wFormRow.w_last
				button.wSubmit.gradient-button Применить