.mfiModal.zoomAnim.popup-style.max-width-1005
	.popup-style_header
		.popup-style_logo
			span.svgHolder
				svg: use(xlink:href="#logo")/
		.popup-style_title Мой отзыв о SAMSUNG WW70J5217IW/UA
	.rating-popup
		.rating-popup_set
			.rating-popup_set_text Оцените товар
			.rating-popup_set_stars
				.rating
					span.rating__stars.big
						input(type='radio', name='rating')
						i
							svg
								use(xlink:href='#big_star')
							span отличный
						input(type='radio', name='rating')
						i
							svg
								use(xlink:href='#big_star')
							span хороший
						input(type='radio', name='rating', checked='')
						i
							svg
								use(xlink:href='#big_star')
							span нормальный
						input(type='radio', name='rating')
						i
							svg
								use(xlink:href='#big_star')
							span так себе
						input(type='radio', name='rating')
						i
							svg
								use(xlink:href='#big_star')
							span плохой


		.rating-popup_desc
			p При написании отзыва постарайтесь ответить на следующие вопросы:
			ol
				li Как долго вы пользуетесь этим товаром?
				li По каким критериям вы выбирали товар?
				li Назовите достоинства и недостатки товара. Рекомендуете ли вы его другим?
		.rating-popup_form
			.wForm.wFormDef.wFormPreloader(data-form="true")
				.wFormRow
					-elementName = 'demo_word_input'
					-elementLabel = 'Ваше имя'
					-
						var attrs = {
						required: true,
						type: 'text',
						name: elementName,
						id: elementName,
						placeholder: '',
						'data-rule-word': 'true'
						}
					label.wLabel(for=elementName)= elementLabel
					.wCaption (для отображения на сайте)#[i *]
					.wFormInput
						input.wInput&attributes(attrs)
						.inpInfo= elementLabel
				.wFormRow
					-elementName = 'demo_email_input'
					-elementLabel = 'Ваше e-mail'
					-
						var attrs = {
						required: true,
						type: 'email',
						name: elementName,
						id: elementName,
						placeholder: '',
						'data-rule-email': 'true'
						}
					label.wLabel(for=elementName)= elementLabel
					.wCaption (на сайте не публикуется)#[i *]
					.wFormInput
						input.wInput&attributes(attrs)
						.inpInfo= elementLabel
				.wFormRow
					-var elementName = 'demo_required_input'
					-var elementLabel = 'Достоинства'
					-
						var attrs = {
						required: false,
						type: 'text',
						name: elementName,
						id: elementName,
						placeholder: ''
						}
					label.wLabel(for=elementName)= elementLabel
					.wFormInput
						input.wInput&attributes(attrs)
						.inpInfo= elementLabel
				.wFormRow
					-var elementName = 'demo_required_input2'
					-var elementLabel = 'Недостатки'
					-
						var attrs = {
						required: false,
						type: 'text',
						name: elementName,
						id: elementName,
						placeholder: ''
						}
					label.wLabel(for=elementName)= elementLabel
					.wFormInput
						input.wInput&attributes(attrs)
						.inpInfo= elementLabel
				.wFormRow
					-elementName = 'demo_minlength_input'
					-elementLabel = 'Комментарий'
					-elementMinlength = 20
					-
						var attrs = {
						required: true,
						type: 'text',
						name: elementName,
						id: elementName,
						placeholder: '',
						'data-rule-minlength': elementMinlength
						}
					label.wLabel(for=elementName)= elementLabel
					.wFormTextarea
						textarea.wTextarea&attributes(attrs)
						.inpInfo= elementLabel
				.wFormRow.w_last
					button.wSubmit.gradient-button Оставить свой отзыв