﻿.mfiModal.zoomAnim.popup-style.max-width-425.social_links_popup
	.popup-style_header
		.popup-style_logo
			span.svgHolder
				svg: use(xlink:href="#logo")/
		.popup-style_title Редактирование соц. сети
	.popup-style_main
		.popup-style_desc
			span Введите ссылку на свой профиль в социальной сети.
		.wForm.wFormDef(data-form="true", data-ajax="wForm-demo-submit.php")
			.wFormRow
				-elementName = 'demo_url_input'
				-elementLabel = 'Ссылка'
				-
					var attrs = {
					required: true,
					type: 'url',
					name: elementName,
					id: elementName,
					placeholder: 'Ссылка',
					'data-rule-url': 'true'
					}
				.wFormInput
					input.wInput&attributes(attrs)
					.inpInfo= elementLabel
			.wFormRow.w_last
				button.wSubmit.gradient-button Отправить