.mfiModal.zoomAnim.popup-style.text-popup
	.popup-style_header
		.popup-style_logo
			span.svgHolder
				svg: use(xlink:href="#logo")/
		.popup-style_title Пример текстового поля
	.popup-style_main
		.wTxt
			h5 Варианты доставки
			p Стиральная машина BEKO HTV 8633 XS0 сочетает в себе функции стирки и сушки. Данная модель может справиться за один цикл с 8 кг белья, а если вы захотите сразу же высушить его, то максимальная загрузка составит 7 кг. Высокая производительность также проявляется в значительной скорости вращения центрифуги - до 1200 оборотов в минуту.
			ul
				li lalala
				li lsdlflsdfsdfdsf
				li sdf ds sdf df